<Page [ngClass]="'panel'" [title]="'会员卡'" [showTitle]="false" [spacing]="false">
    <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__hd">
                    <img src="./assets/images/icon_nav_layout.png" alt="" style="width:20px;margin-right:5px;display:block">
                </div>
                <div class="weui-cell__bd weui-cell_primary">
                    <p>会员卡</p>
                </div>
            </a>

        </div>
    </div>
    <div class="weui-cells__title">购买商品扫码积分</div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div style="text-align: center; width: 100%;">
                <img id="barcode" />
            </div>
        </div>
        <div class="weui-cell" style="font-size: 14px;" *ngIf="user">
            <div class="weui-cell__bd">
                <span style="vertical-align: middle">会员名</span>
            </div>
            <div class="weui-cell__ft">{{user.userName}}</div>
        </div>
        <div class="weui-cell" style="font-size: 14px;" *ngIf="user">
            <div class="weui-cell__bd">
                <span style="vertical-align: middle">会员类型</span>
            </div>
            <div class="weui-cell__ft">{{user.userTypeName}}</div>
        </div>
    </div>
</Page>