// component css goes here
.weui-media-box__info {
    margin-top: 0px;
    padding-bottom: 0px;
    font-size: 13px;
    color: #999999;
    line-height: 1em;
    list-style: none;
    overflow: hidden;
}

.weui-cell_img {
    width: 60px;
    height: 60px;
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    margin-right: 10px;
}

.weui-media-box {
    padding-top: 8px;
    padding-bottom: 8px;
}

// .weui-media-box_appmsg .weui-media-box__thumb {
//     width: 60px;
//     height: 60px;
// }
.sp {
    padding-bottom: 5px;
}

.s {
    float: left;
}

.t {
    float: right;
}

.pc {
    height: 18px;
}

.sn {
    height: 18px;
}

.weui-form-preview__btn {
    font-size: 15px;
}