<Page [ngClass]="'article'" [title]="'Article'" [showTitle]="false" [spacing]="false">
    <weui-loadmore type="line" *ngIf="!activity"></weui-loadmore>
    <article class="weui-article">
        <h1>{{activity.title}}</h1>
        <section>
            <section>
                <p>
                    <img src="{{activity.coverPhoto|hostUrl}}" alt="">
                </p>
                <p [innerHTML]="html">
                    {{activity.content}}
                </p>
                <p>
                    {{activity.pushTime| date:'yyyy-MM-dd'}}
                </p>
            </section>
        </section>
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="placeholder read">阅读 {{activity.readTotal}}</div>
            </div>
            <div class="placeholder good" *ngIf="!isGood">
                <img src="assets/images/activity/good_false.png" style="width:16px;" alt="" (click)="addGood()"> {{activity.goodTotal}}
            </div>
            <div class="placeholder good" *ngIf="isGood">
                <img src="assets/images/activity/good_true.png" style="width:16px;" alt="" (click)="addGood()"> {{activity.goodTotal}}
            </div>
        </div>
    </article>
</Page>