<weui-loadmore type="line" *ngIf="!activity"></weui-loadmore>
<div *ngIf="activity.content" [innerHTML]="assembleHTML(activity.content)"></div>
<br/>
<div class="weui-flex">
    <div class="weui-flex__item">
        <div class="placeholder read">阅读 {{activity.readTotal}}</div>
    </div>
    <div class="placeholder good" *ngIf="!isGood">
        <img src="assets/images/activity/IsGood_Blue_False.png" style="width:16px;" alt="" (click)="addGood()"> {{activity.goodTotal}}
    </div>
    <div class="placeholder good" *ngIf="isGood">
        <img src="assets/images/activity/IsGood_Blue_True.png" style="width:16px;" alt="" (click)="addGood()"> {{activity.goodTotal}}
    </div>
</div>
<br/>
<div class="weui-footer">
    <p class="weui-footer__text">广安烟草 | 渠江烟语</p>
</div>