<Page [ngClass]="'article'" [title]="'Article'" [showTitle]="false" [spacing]="false">
    <weui-loadmore type="line" *ngIf="!activity"></weui-loadmore>
    <article class="weui-article">
        <h1>{{activity.title}}</h1>
        <section>
            <section>
                <p>
                    <img src="{{activity.coverPhoto|hostUrl}}" alt="">
                </p>
                <p>
                    {{activity.content}}
                </p>
                <p>
                    {{activity.pushTime| date:'yyyy-MM-dd'}}
                </p>
            </section>
        </section>
    </article>
</Page>