.weui-icon-h18{
    height: 24px;
}

.weui-cells_img {
    width: 100%;
    height: 180px;
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    margin-top: 0px;
}

.weui-shop-cell_img{
    font-size: 14px; 
    color:black; 
    background:rgba(255,255,255,0.3); 
}

.weui-dialog__prompt {
    .weui-dialog__bd {
        font-size: 12px;
        text-align: center;
        min-height: 20px;
        line-height: 20px;
    }
    .weui-cells, .weui-dialog__error {
        margin-top: 0;
        margin-bottom: 1.17647059em;
    }
}
.weui-cell-title{
    margin-top: 0px; 
    margin-bottom: 0px; 
    padding-left: 0px; 
    padding-right: 0px; 
}
.qrcode{
    width:100%;
}
.mdiv{
    text-align:center;
}
.weui-dialog__bd .ng-star-inserted{
    text-align:center;
    // vertical-align: middle;
}
// .weui-dialog__bd:first-child{
//     // margin-bottom:20px; 
// }
.payment_wechat_img{
    position: relative;
    width: 25vh;
    height: 25vh;
    padding: 10px;
    background: #ffffff;
    img{
        width: 100%
    }

    .payment_wechat_icon{
        width: 50px;
        position: absolute;
        top: 10vh;
        left: 10vh;
    }
}


