.weui-icon-h18{
    height: 24px;
}

.weui-cells_img {
    width: 100%;
    height: 180px;
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    margin-top: 0px;
}

.weui-cell_img{
    font-size: 14px; 
    color:black; 
    background:rgba(255,255,255,0.3); 
}