<!--component html goes here -->
<Page [ngClass]="'icons'" [spacing]="true">

    <div>
        <div class="icon-box" *ngIf="successType== 'feedback'">
            <i class="weui-icon-success weui-icon_msg"></i>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">提交成功</h3>
                <p class="icon-box__desc">意见反馈提交成功</p>
            </div>
        </div>
        <div class="icon-box" *ngIf="successType == 'evaluation'">
            <i class="weui-icon-success weui-icon_msg"></i>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">评价成功</h3>
                <p class="icon-box__desc">评价成功，你已获得积分</p>
            </div>
        </div>
        <div class="icon-box" *ngIf="successType == 'check'">
            <i class="weui-icon-success weui-icon_msg"></i>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">审核成功</h3>
                <p class="icon-box__desc">审核成功，店员已获得店铺管理权限</p>
            </div>
        </div>
        <div class="icon-box" *ngIf="successType == 'unbind'">
            <i class="weui-icon-success weui-icon_msg"></i>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">解绑成功</h3>
                <p class="icon-box__desc">解绑成功，店员已取消店铺管理权限</p>
            </div>
        </div>
    </div>
    <a [routerLink]="['/personals/personal']" weui-button >返回个人中心</a>
</Page>