<!--component html goes here -->
<nz-tabset>
    <nz-tab>
        <ng-template #nzTabHeading>
            积分配置
        </ng-template>
        <nz-card>
            <form nz-form [formGroup]="form" id="frm_create_role" (ngSubmit)="save()">
                <div nz-row>
                    <div nz-col [nzSpan]="16">
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="5">
                                <label for="rcValue">店铺扫码</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="19" nzHasFeedback [nzValidateStatus]="getFormControl('rcValue')">
                                <nz-input formControlName="rcValue" [(ngModel)]="configCode.rcValue" [nzId]="'rcId'"></nz-input>
                                <div nz-form-explain *ngIf="getFormControl('rcValue').dirty&&getFormControl('rcValue').hasError('pattern')">兑换比例必须为正数</div>
                                <div nz-form-control nz-col [nzSm]="19">
                                    给消费者兑换商品金额1元店铺管理员可获赠{{configCode.rcValue}}积分
                                </div>
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="5">
                                <label for="cValue">购买商品</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="19" nzHasFeedback [nzValidateStatus]="getFormControl('cValue')">
                                <nz-input formControlName="cValue" [(ngModel)]="configCode.cValue" [nzId]="'cValue'"></nz-input>
                                <div nz-form-explain *ngIf="getFormControl('cValue').dirty&&getFormControl('cValue').hasError('pattern')">兑换比例必须为正数</div>
                                <div nz-form-control nz-col [nzSm]="19">
                                    消费者消费商品金额1元可获得{{configCode.cValue}}积分
                                </div>
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="5">
                                <label for="eValue">店铺评价</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="19" nzHasFeedback [nzValidateStatus]="getFormControl('eValue')">
                                <nz-input formControlName="eValue" [(ngModel)]="configCode.eValue" [nzId]="'eValue'"></nz-input>
                                <div nz-form-explain *ngIf="getFormControl('eValue').dirty&&getFormControl('eValue').hasError('pattern')">兑换比例必须为正数</div>
                                <div nz-form-control nz-col [nzSm]="19">
                                    店铺评价1次可获得{{configCode.eValue}}积分
                                </div>
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="5">
                                <label for="fValue">首次注册</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="19" nzHasFeedback [nzValidateStatus]="getFormControl('fValue')">
                                <nz-input formControlName="fValue" [(ngModel)]="configCode.fValue" [nzId]="'fValue'"></nz-input>
                                <div nz-form-explain *ngIf="getFormControl('fValue').dirty&&getFormControl('fValue').hasError('pattern')">兑换比例必须为正数</div>
                                <div nz-form-control nz-col [nzSm]="19">
                                    首次注册可获得{{configCode.fValue}}积分
                                </div>
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="5">
                                <label for="eValue">填写示例</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="19">
                                <h4 class="mb-md">输入1兑换比例为 金额 : 积分 = 1元 : 1积分，输入100兑换比例为 金额 : 积分 = 1元 : 100积分</h4>
                            </div>
                        </div>
                        <div nz-form-item nz-row class="mb0">
                            <div nz-form-label nz-col [nzSm]="5">
                                <button nz-button [nzType]="'primary'" [nzSize]="'large'" type="submit">
                                    {{l("保存")}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </nz-card>
    </nz-tab>
    <nz-tab>
        <ng-template #nzTabHeading>
            微信用户配置
        </ng-template>
        <nz-card>
            <form nz-form [formGroup]="form" id="frm_create_role" (ngSubmit)="save()">
                <div nz-row>
                    <div nz-col [nzSpan]="16">
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="5">
                                <label for="rcValue">用户选择</label>
                            </div>
                            <div nz-col [nzSm]="4">
                                <button nz-button style="width: 126px" [nzType]="'primary'" [nzSize]="'large'" type="button" (click)="employee()">
                                    选择员工
                                </button>
                            </div>
                        </div>

                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="5">
                                <label for="user">已选择用户</label>
                            </div>
                            <!-- <div nz-form-control nz-col [nzSm]="19">
                                <h4 class="mb-md">{{employeeIds}}</h4>
                            </div> -->
                            <!-- <div nz-form-control nz-col [nzSm]="19">
                                <nz-tag *ngFor="let item of users" nzClosable (nzClose)="onClose($event, item.openId)">{{item.userName}}</nz-tag>
                            </div> -->
                            <div nz-form-control nz-col [nzSm]="19">
                                <nz-tag *ngFor="let item of usersDto" nzClosable (nzClose)="onClose($event, item.openId)">{{item.userName}}</nz-tag>
                            </div>
                        </div>
                        <!-- {{employeeIds}} <br>{{employeeOpenId}} -->
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="9">
                                <button nz-button *ngIf="usersDto.length!=0" [nzType]="'default'" [nzSize]="'large'" type="button" (click)="cancel()">
                                            清空
                                        </button>
                                <button nz-button [nzType]="'primary'" [nzSize]="'large'" type="button" (click)="saveWXInfo()">
                                    {{l("保存")}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </nz-card>
    </nz-tab>
</nz-tabset>
<message-employee-modal #selectsEmployeeModal (modalSelect)="getSelectData($event)"></message-employee-modal>