@model HC.WeChat.ActivityForms.Dtos.ActivityFormListDto
@{
    Layout = null;
    var GoodsList = ViewBag.GoodsList as List<HC.WeChat.ActivityGoodses.Dtos.ActivityGoodsDto>;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>宜宾烟草</title>
</head>
<body>
    <div class="all_width">
        <!--通用头部-->
        <div class="header bg_green tc">
           商品修改
        </div>
        <!--banner展示-->
        <img src="static/img/advise/banner.png" class="img_width" />
        <!--建议输入部分-->
        <div class="pr advise_area">
            <!--透明背景-->
            <div class="opacity_bg all_width">
                <!--标题-->
                @*<div class="advise_warp pt5 pb5">
                    <span class="entry_key fl">标题</span>
                    <input type="text" class="fl ml10 entry_value" placeholder="请输入标题" />
                </div>*@
                <!--商品规格-->
                <div class="advise_warp pt5 pb5">
                    <select id="dllSpecification" class="fl entry_value" placeholder="请选择申请商品规格" >
                        @foreach (var item in GoodsList)
                        {
                            <option value="@item.Id">@item.Specification</option>
                        }
                        <option value="other">其它</option>
                    </select>
                </div>
                <!--选其它需要输入商品规格-->
                <div id="divGoodsSpecification" class="advise_warp pt5 pb5">
                    <span class="entry_key fl">商品规格</span>
                    <input type="text" maxlength="50" id="txtGoodsSpecification" class="fl ml10 entry_value" placeholder="请输入其它商品规格" />
                </div>
                <!--联系电话-->
                <div class="advise_warp pt3 pb3">
                    <span class="entry_key fl" >联系电话</span>
                    <input type="number" class="fl ml10 entry_value" value="@Model.Num" placeholder="" />
                </div>
                <!--上传图片-->
                @*<div class="file_upload pr">
                    <input id="Photos" multiple type="file" class="none pa">
                    <img id="add" src="static/img/advise/add.png">
                </div>*@
                <!--上传图片限制提示-->
                @*<span class="upload_tips">最多可上传8张图片</span>*@
            </div>
        </div>
        <!--用户操作按钮-->
        <div class="width_90 mt30 mb20">
            <input type="button" class="middel_btn fl cancel" value="取消" />
            <input type="button" class="middel_btn fr ok" value="保存" onclick="Save()" />
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            var values =@Model.
                $('#dllSpecification').val(@Model.ActivityGoodsId);
        });
    </script>
</body>
</html>
