
@{
    ViewData["Title"] = "宜宾烟草";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>宜宾烟草</title>
    <link rel="stylesheet" href="static/css/base.css" />
    <link rel="stylesheet" href="static/css/commons.css" />
    <link rel="stylesheet" href="static/css/tobacco.css" />
</head>
<body class="bg_gary">
    <div id="background" class="background" style="display: none; "></div>
    <div id="progressBar" class="progressBar" style="display: none; ">正在提交中，请稍等...</div>
    <!--页面整体-->
    <div class="all_width">
        <!--通用头部-->
        <div class="header bg_green tc">
            建议举报
        </div>
        <!--banner展示-->
        <img src="static/img/advise/banner.png" class="img_width" />
        <!--建议输入部分-->
        <div class="pr advise_area">
            <!--透明背景-->
            <div class="opacity_bg all_width">
                <!--标题-->
                <div class="advise_warp pt5 pb5">
                    <span class="entry_key fl">标题</span>
                    <input type="text" class="fl ml10 entry_value" id="txtTitle" maxlength="200" placeholder="请输入标题" />
                </div>
                <!--联系电话-->
                <div class="advise_warp pt3 pb3">
                    <select class="fl entry_value" id="dllUserTypeName" placeholder="请选择">
                        <option value="消费者">我是消费者</option>
                        <option value="零售户">我是零售户</option>
                    </select>
                </div>
                <div class="advise_warp">
                    <span class="entry_key db pb20 pt5">建议举报内容</span>
                    <!--内容输入框-->
                    <textarea class="contain_entry" id="txtContent" placeholder="请输入举报内容"></textarea>
                </div>
                <!--联系电话-->
                <div class="advise_warp pt3 pb3">
                    <span class="entry_key fl">联系电话</span>
                    <input type="text" class="fl ml10 entry_value" id="txtPhone" maxlength="11" placeholder="请输入联系电话" />
                </div>
                <!--上传图片-->
                <!-- <div class="file_upload pr">
                    <input id="Photos" multiple type="file" class="none pa">
                    <img id="add" src="static/img/advise/add.png">
                </div> -->
                <!--上传图片限制提示-->
                <!-- <span class="upload_tips">最多可上传8张图片</span>-->
            </div>
            <input type="hidden" id="hidOpenId" value="@ViewBag.OpenId" />
            <input type="hidden" id="hidTenantId" value="@ViewBag.TenantId" />
        </div>
        <!--用户操作按钮-->
        <div class="width_90 mt30 mb20">
            <input type="button" class="middel_btn fl cancel" value="取消发布" onclick="javascript:WeixinJSBridge.call('closeWindow');" />
            <input type="button" class="middel_btn fr ok" value="确认发布" id="btnSave" onclick="Save()" />
        </div>
    </div>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript">
        function checkMobile(str) {
            var re = /^1\d{10}$/
            return re.test(str);
        }

       var Save = function () {
           var reqUrl = "@ViewBag.ServerRootAddress" + "/api/services/app/Advise/SubmitAdviseAsync";
            var para = {};
           para.title = $("#txtTitle").val();
           if (para.title == "") {
                alert("标题不能为空！");
                return;
           }
           para.content = $("#txtContent").val();
           if (para.content == "") {
               alert("建议举报内容不能为空！");
               return;
           }

            para.phone = $("#txtPhone").val();
            if (para.phone == "") {
                alert("电话号码不能为空！");
                return;
           }

           if (!checkMobile(para.phone)) {
               alert("请输入正确的电话号码！");
               return;
           }

           para.userTypeName = $("#dllUserTypeName").val();
            para.tenantId = $("#hidTenantId").val();
            para.openId = $("#hidOpenId").val();
           $("#btnSave").attr("disabled", true);
           $("#btnSave").attr("disabled", "disabled");
           var ajaxbg = $("#background, #progressBar");
           ajaxbg.show();
            $.ajax({
                url: reqUrl,
                type: "POST",
                dataType: "JSON",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(para),
                success: function (data) {
                    ajaxbg.hide();
                    if (data.success) {
                        if (data.result.code == 0) {
                            alert(data.result.msg);
                            WeixinJSBridge.call('closeWindow');
                        } else {
                            alert(data.result.msg);
                        }
                    } else {
                        alert("保存异常！");
                    }
                    $("#btnSave").removeAttr("disabled");
                    $("#btnSave").attr("disabled", false);
                },
                error: function () {
                    ajaxbg.hide();
                    alert("提交失败，稍后请重试！");
                    $("#btnSave").removeAttr("disabled");
                    $("#btnSave").attr("disabled", false);
                }
            });
        }
    </script>
</body>
</html>


