
@{
    ViewData["Title"] = "用户绑定";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>用户绑定</title>
    <link rel="stylesheet" href="static/css/base.css" />
    <link rel="stylesheet" href="static/css/commons.css" />
    <link rel="stylesheet" href="static/css/shop.css" />
</head>
<body class="bg_gary">
    <div id="background" class="background" style="display: none; "></div>
    <div id="progressBar" class="progressBar" style="display: none; ">正在提交中，请稍等...</div>
    <!--页面整体-->
    <div class="all_width">
        <!--用户类型选择-->
        <ul class="user_type all_width">
            <li class="user_active">零售客户</li>
            <li>客户经理</li>
        </ul>
        <div class="all_width bind_contain">
            <!--零售商户绑定输入-->
            <div class="all_width">
                <ul class="bind_area all_width">
                    <li>
                        <input type="text" id="txtRetailerName" maxlength="50" placeholder="请输入姓名" />
                    </li>
                    <li>
                        <input type="text" id="txtLicenseKey" maxlength="50" placeholder="请输入专卖证号" />
                    </li>
                </ul>
                <input type="button" value="立即绑定" onclick="BindRetailer()" id="btnSave" class="ok middel_btn mt20 center db" />
            </div>
            <!--营销人员绑定-->
            <div class="all_width none">
                <ul class="bind_area all_width">
                    <li>
                        <input type="text" id="txtEmployeeName" maxlength="50" placeholder="请输入姓名" />
                    </li>
                    <li>
                        <input type="text" id="txtCode" maxlength="50" placeholder="请输入员工编码" />
                    </li>
                </ul>
                <input type="button" value="立即绑定" onclick="BindEmployee()" id="btnEmpSave" class="ok middel_btn mt20 center db" />
            </div>
        </div>
        <input type="hidden" id="hidOpenId" value="@ViewBag.OpenId" />
        <input type="hidden" id="hidNickName" value="@ViewBag.NickName" />
        <input type="hidden" id="hidTenantId" value="@ViewBag.TenantId" />
    </div>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script>
        //		tab内容切换
        $('.user_type>li').click(function () {
            $(this).addClass("user_active").siblings().removeClass();//removeClass就是删除当前其他类；只有当前对象有addClass("selected")；siblings()意思就是当前对象的同级元素，removeClass就是删除；
            $(".bind_contain>div").hide().eq($('.user_type>li').index(this)).show();
        });
    </script>
    <script type="text/javascript">
        var reqUrl = "@ViewBag.ServerRootAddress"+"/api/services/app/WeChatUser/BindWeChatUserAsync";
        var BindRetailer = function () {
            var para = {};
            para.userName = $("#txtRetailerName").val();
            if (para.userName == "") {
                alert("用户名不能为空！");
                return;
            }
            para.licenseKey = $("#txtLicenseKey").val();
            if (para.licenseKey == "") {
                alert("专卖证号不能为空！");
                return;
            }

            para.tenantId = $("#hidTenantId").val();
            para.userType = 1;
            para.nickName = $("#hidNickName").val();
            para.openId = $("#hidOpenId").val();
            $("#btnSave").attr("disabled", true);
            $("#btnSave").attr("disabled", "disabled");
            var ajaxbg = $("#background, #progressBar");
            ajaxbg.show();
            $.ajax({
                url: reqUrl,
                type: "POST",
                dataType: "JSON",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(para),
                success: function (data) {
                    ajaxbg.hide();
                    if (data.success) {
                        if (data.result.code == 0) {
                            alert(data.result.msg);
                            WeixinJSBridge.call('closeWindow');
                        } else {
                            alert(data.result.msg);
                        }
                    } else {
                        alert("保存异常！");
                    }
                    $("#btnSave").removeAttr("disabled");
                    $("#btnSave").attr("disabled", false);
                },
                error: function () {
                    ajaxbg.hide();
                    alert("提交失败，稍后请重试！");
                    $("#btnSave").removeAttr("disabled");
                    $("#btnSave").attr("disabled", false);
                }
            });
        }

        var BindEmployee = function () {

             var para = {};
            para.userName = $("#txtEmployeeName").val();
            if (para.userName == "") {
                alert("用户名不能为空！");
                return;
            }
            para.code = $("#txtCode").val();
            if (para.code == "") {
                alert("员工编号不能为空！");
                return;
            }

            para.tenantId = $("#hidTenantId").val();
            para.userType = 2;
            para.nickName = $("#hidNickName").val();
            para.openId = $("#hidOpenId").val();
            $("#btnEmpSave").attr("disabled", true);
            $("#btnEmpSave").attr("disabled", "disabled");
            $.ajax({
                url: reqUrl,
                type: "POST",
                dataType: "JSON",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(para),
                success: function (data) {
                    if (data.success) {
                        if (data.result.code == 0) {
                            alert(data.result.msg);
                            WeixinJSBridge.call('closeWindow');
                        } else {
                            alert(data.result.msg);
                        }
                    } else {
                        alert("保存异常！");
                    }
                    $("#btnEmpSave").removeAttr("disabled");
                    $("#btnEmpSave").attr("disabled", false);
                },
                error: function () {
                    alert("提交失败！");
                    $("#btnEmpSave").removeAttr("disabled");
                    $("#btnEmpSave").attr("disabled", false);
                }
            });
        }

    </script>
</body>
</html>


