
@{
    ViewData["Title"] = "没有活动";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>没有活动</title>
    <link rel="stylesheet" href="static/css/base.css" />
    <link rel="stylesheet" href="static/css/commons.css" />
</head>
<body>
    <img src="static/img/activity/ycover.png" class="img_width" />
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script>
			$("img").height($(window).height())
    </script>
</body>
</html>


