<Page [ngClass]="'infiniteloader'" [showTitle]="false" [subTitle]="" [spacing]="false" [noBottom]="true">

    <weui-searchbar (search)="getCustomer(true,$event)" (cancel)="onCancel()" placeholder="请输入姓名、专卖号或电话" (clear)="onClear()"
        [debounceTime]="500"></weui-searchbar>
    <div class="weui-cells__title">
        <a class="weui-cell weui-cells__title">
            <div class="weui-cell__hd">姓名</div>
            <div class="weui-cell__bd" style="text-align:center;">电话</div>
            <div class="weui-cell__ft">编码</div>
        </a>
    </div>
    <div class="weui-cells" *ngIf="isMore">

        <weui-infiniteloader (loadmore)="onLoadMore($event)" #comp>
            <a *ngFor="let i of customers" class="weui-cell weui-cell_access" (click)="goCustomerLeavel(i)">
                <div class="weui-cell__hd">{{i.name}}</div>
                <div class="weui-cell__bd" style="text-align:center;">{{i.telephone}}</div>
                <div class="weui-cell__ft">{{i.licenseKey}}</div>
            </a>
            <!-- <a class="weui-panel__ft" *ngIf="showMore" (click)="aboutMore()">
                <div class="weui-cell weui-cell_access weui-cell_link">
                    <div class="weui-cell__bd">更多>>></div>
                    <div class="weui-cell__ft"></div>
                </div>
            </a> -->
        </weui-infiniteloader>
    </div>

    <div class="weui-panel" style="margin-top: 0px;" *ngIf="!isMore">
        <a *ngFor="let i of customers" class="weui-cell weui-cell_access" (click)="goCustomerLeavel(i)">
            <div class="weui-cell__hd">{{i.name}}</div>
            <div class="weui-cell__bd" style="text-align:center;">{{i.telephone}}</div>
            <div class="weui-cell__ft">{{i.licenseKey}}</div>
        </a>
        <!-- <ng-template #loading>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">Loading...</div>
            </div>
        </ng-template> -->
        <a class="weui-panel__ft" *ngIf="showMore" (click)="aboutMore()">
            <div class="weui-cell weui-cell_access weui-cell_link">
                <div class="weui-cell__bd">更多>>></div>
                <div class="weui-cell__ft"></div>
            </div>
        </a>
    </div>
</Page>