// component css goes here
.weui-cell__hd{
    width: 23%;
}
.weui-cell__ft{
    width: 40%;
}
.weui-cells{
    font-size: 15px;
    margin-top:0em;
}
.search{
    height:56px;
}

.weui-cells__title{
    margin-top:0em;
}
