html, body{width:100%;height:100%;background-color:#fcd974;}
body,header,div,p,span,h1,img,ul,li,h1,h2,h3,h4,strong{margin:0;padding:0;}
body{max-width:640px;margin:0 auto;overflow-x:hidden;line-height:24px;color:#666;font-size:14px;font-family: 'Microsoft Yahei', "微软雅黑",sans-serif;}
a,button,input{-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;-webkit-appearance: none;}
ul,li{list-style-type: none;}
img{max-width: 100%;height:auto;vertical-align: middle;}
a{text-decoration: none;color:#666;-webkit-touch-callout: none!important;}

.lottery_box{
    margin-bottom:3%;
}
.lottery_turntable{-webkit-transform:scale(.96);width:300px;margin:0 auto;height:300px;background-color:#ff5859;border-radius:50%;box-shadow:-1px 2px 4px #ff5758;}
.wrapper{height:inherit;padding-bottom:20px;background:#fcd974 no-repeat center center;background-size:cover;}
.pr{position:relative;}
.turntable{
    -webkit-animation:rotate 7s linear both reverse infinite;
    background:no-repeat center center;
    height:100%;
    background-size:92%;
}
.fw{width:100%;}
.lotterys{width:84%;margin:0 auto;position:absolute;left:8%;top:8%;z-index:2;-webkit-transform:rotate(-90deg);}
.fd{-webkit-animation: fd 1s ease both;}
.go{-webkit-transform-origin:center;width:100px;height:100px;background-size:100%;position:absolute;left:50%;top:50%;margin:-55px 0 0 -50px;z-index:99998;}
.dy02{-webkit-animation-delay:.2s;}
.dy05{-webkit-animation-delay:.5s;}
.dy08{-webkit-animation-delay:.8s;}
@-webkit-keyframes fd { from {-webkit-opacity:0;opacity:0;} to {-webkit-opacity:1;opacity:1;} }
@-webkit-keyframes rotate { from { -webkit-transform:rotate(180deg); } to { -webkit-transform:rotate(0deg); } }