<!--wrapper-->
<!-- <div id="wrapper" class="wrapper fw oh" style="background-image:url('./assets/images/lottery/lottery_bg.jpg')">
    <div>
        <strong class="fd dy05">当日抽奖机会：
            <span id="lottery_num">3</span>次</strong>
        <p class="fd dy08">每个用户每天可免费获得 3 次抽奖机会</p>
    </div>
    <div class="lottery_box fd dy05">
        <div class="lottery_turntable pr">
            <div class="turntable fw" style="background-image:url('./assets/images/lottery/dot.png');"></div>
            <canvas id="lotterys" class="lotterys" width="300" height="300"></canvas>
            <div id="go" style="background:url('./assets/images/lottery/go.png') no-repeat center center;" (click)="lottery()" class="go fd dy05"></div>
        </div>
    </div>
</div> -->
<img class="" data-ratio="1" data-src="http://mmbiz.qpic.cn/mmbiz_jpg/WqCbMNGpPBNUS4LPWRBsVr75dEQX35QxFNcic5AneUhX0uPGgibk53Flfgibufps0BwicoDTiaKVaj0K2xIBEcjkkibw/640?wx_fmt=jpeg" data-type="jpeg" data-w="344" style="box-sizing: border-box !important; word-wrap: break-word !important; visibility: visible !important; width: 140px !important; height: auto !important;"
    title="1490853201556697.jpg" width="140px" _width="140px" src="http://mmbiz.qpic.cn/mmbiz_jpg/WqCbMNGpPBNUS4LPWRBsVr75dEQX35QxFNcic5AneUhX0uPGgibk53Flfgibufps0BwicoDTiaKVaj0K2xIBEcjkkibw/640?wx_fmt=jpeg&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" data-fail="0">