<!--component html goes here -->
<!-- <div class="content__title">
    <h1>UEditor
        <small>Dependencies
            <a href="//github.com/cipchk/ngx-ueditor" target="_blank">ngx-ueditor</a>
        </small>
    </h1>
</div> -->

<!-- <nz-card>
    <ueditor [(ngModel)]="html"></ueditor>
</nz-card> -->
<!-- (ngSubmit)="saveSub()" -->
<form nz-form [formGroup]="formA" id="frm_create_role">
    <nz-card [nzBordered]="false" nzTitle="活动管理">
        <div nz-row [nzGutter]="16">
            <div nz-col nzMd="7" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col>
                        <label nz-form-item-required>名称</label>
                    </div>
                    <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('name')">
                        <nz-input style="height:32px;" formControlName="name" [(ngModel)]="acitivityDto.name" [nzId]="'name'"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('maxlength')">字符长度小于等于200</div>
                        <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')">请输入活动名称</div>
                    </div>
                </div>
            </div>
            <div nz-col nzMd="7" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col>
                        <label>状态</label>
                    </div>
                    <div nz-form-control nz-col class="text-pink-light">
                        {{acitivityDto.statusName}}
                    </div>
                </div>
            </div>
            <div nz-col nzMd="6" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col>
                        <label>发布时间</label>
                    </div>
                    <div nz-form-control nz-col class="text-pink-light">
                        {{acitivityDto.publishTime|_date}}
                    </div>
                </div>
            </div>
        </div>
        <!-- <div nz-col nzMd="6" nzSm="12" nzXs="24">
            <div nz-form-item nz-row>
                <div nz-form-label nz-col>
                    <label></label>
                </div>
            </div>
        </div> -->



        <div nz-row [nzGutter]="16">

            <div nz-col nzMd="7" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col>
                        <label nz-form-item-required>开始时间</label>
                    </div>
                    <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('beginTime')">
                        <nz-datepicker style="height:32px;width:100%;" [nzSize]="'large'" formControlName="beginTime" [(ngModel)]="acitivityDto.beginTime"></nz-datepicker>
                        <div nz-form-explain *ngIf="getFormControl('beginTime').dirty&&getFormControl('beginTime').hasError('required')">请输入活动开始时间</div>
                    </div>
                </div>
            </div>

            <div nz-col nzMd="7" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col>
                        <label nz-form-item-required>结束时间</label>
                    </div>
                    <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('endTime')">
                        <nz-datepicker style="width:100%;" formControlName="endTime" [(ngModel)]="acitivityDto.endTime"></nz-datepicker>
                        <div nz-form-explain *ngIf="getFormControl('endTime').dirty&&getFormControl('endTime').hasError('required')">请输入活动结束时间</div>
                    </div>

                </div>
            </div>

            <div nz-col nzMd="6" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col>
                        <label nz-form-item-required>活动类型</label>
                    </div>
                    <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('activityType')">
                        <nz-select formControlName="activityType" [nzPlaceHolder]="'请选择活动类型'" [(ngModel)]="acitivityDto.activityType" [nzShowSearch]="true"
                            nzSize="large">
                            <nz-option *ngFor="let i of AcTypes" [nzLabel]="i.text" [nzValue]="i.value">
                            </nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>

        </div>

        <div nz-row [nzGutter]="16">

            <div nz-col nzMd="7" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col>
                    </div>
                    <div nz-form-control nz-col nzHasFeedback>
                        <label>未完成用烟申请单限制（经理、客户）</label>
                    </div>
                </div>
            </div>

            <div nz-col nzMd="7" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col>
                        <label>客户经理</label>
                    </div>
                    <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('mUnfinished')">
                        <nz-input-number style="width:100%;" [nzSize]="'large'" [nzStep]="1" [nzMin]="0" [nzMax]="9999" formControlName="mUnfinished"
                            [(ngModel)]="acitivityDto.mUnfinished"></nz-input-number>
                    </div>
                </div>
            </div>

            <div nz-col nzMd="6" nzSm="12" nzXs="24">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col>
                        <label>零售客户</label>
                    </div>
                    <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('rUnfinished')">
                        <nz-input-number style="width:100%;" [nzSize]="'large'" [nzStep]="1" [nzMin]="0" [nzMax]="9999" formControlName="rUnfinished"
                            [(ngModel)]="acitivityDto.rUnfinished"></nz-input-number>
                    </div>
                </div>
            </div>
        </div>

        <div nz-row [nzGutter]="16">
            <div nz-form-label nz-col>
                <label nz-form-item-required>内容</label>
            </div>
            <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('content')">
                <nz-input nzType="textarea" formControlName="content" [(ngModel)]="acitivityDto.content" [nzId]="'content'"></nz-input>
                <div nz-form-explain *ngIf="getFormControl('content').dirty&&getFormControl('content').hasError('required')">请输入活动内容</div>
            </div>

        </div>

    </nz-card>
    <nz-card *ngIf="isGoodabled" [nzBordered]="false" nzTitle="商品管理">
        <nz-table formArrayName="items" [nzDataSource]="items.value" [nzIsPagination]="false">
            <thead nz-thead>
                <tr>
                    <th nz-th>商品规格</th>
                    <th nz-th>单次申请最小限制（条）</th>
                    <th nz-th>单次申请最大限制（条）</th>
                    <th nz-th>优惠说明</th>
                    <th nz-th>操作</th>
                </tr>
            </thead>
            <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                    <td nz-td>
                        <span *ngIf="editIndex!==i">{{items.value[i].specification}}</span>
                        <span *ngIf="editIndex===i" nz-form-control [nzValidateStatus]="item.controls.specification">
                            <label nz-form-item-required></label>
                            <nz-input style="width:85%;" formControlName="specification" nzPlaceHolder="商品规格" nzSize="large"></nz-input>
                            <div nz-form-explain *ngIf="item.controls.specification.dirty&&item.controls.specification.hasError('required')">规格不能为空</div>
                        </span>
                    </td>
                    <td nz-td>
                        <span *ngIf="editIndex!==i">{{items.value[i].minNum}}</span>
                        <span *ngIf="editIndex===i" nz-form-control [nzValidateStatus]="item.controls.minNum">
                            <label nz-form-item-required></label>
                            <nz-input-number [nzMin]="0" style="width:85%;" formControlName="minNum" nzPlaceHolder="单次申请最小限制" nzSize="large"></nz-input-number>
                        </span>
                    </td>
                    <td nz-td>
                        <span *ngIf="editIndex!==i">{{items.value[i].maxNum}}</span>
                        <span *ngIf="editIndex===i" nz-form-control [nzValidateStatus]="item.controls.maxNum">
                            <label nz-form-item-required></label>
                            <nz-input-number [nzMin]="0" style="width:85%;" formControlName="maxNum" nzPlaceHolder="单次申请最大限制" nzSize="large"></nz-input-number>
                        </span>
                    </td>
                    <td nz-td>
                        <span *ngIf="editIndex!==i">{{items.value[i].discountDesc}}</span>
                        <span *ngIf="editIndex===i" nz-form-control [nzValidateStatus]="item.controls.discountDesc">
                            <nz-input formControlName="discountDesc" nzPlaceHolder="优惠说明" nzSize="large"></nz-input>
                        </span>
                    </td>
                    <!-- <td nz-td style="display:none">
                        <span *ngIf="editIndex!==i">{{items.value[i].id}}</span>
                        <span *ngIf="editIndex===i" nz-form-control [nzValidateStatus]="item.controls.id">
                            <nz-input formControlName="id"  nzPlaceHolder="商品id" nzSize="large"></nz-input>
                        </span>
                    </td> -->
                    <td nz-td>
                        <span *ngIf="editIndex!==i">
                            <a (click)="edit(i)">编辑</a>
                            <span nz-table-divider></span>
                            <nz-popconfirm (nzOnConfirm)="delete(i,items.value[i].id)" [nzTitle]="'是否要删除'+items.value[i].specification+'?'">
                                <a nz-popconfirm>删除</a>
                            </nz-popconfirm>
                        </span>
                        <span *ngIf="editIndex===i">
                            <a (click)="save(i)">保存</a>
                            <span nz-table-divider></span>
                            <nz-popconfirm (nzOnConfirm)="cancel(i)" [nzTitle]="'是否要取消操作？'">
                                <a nz-popconfirm>取消</a>
                            </nz-popconfirm>
                        </span>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <button *ngIf="editIndex===-1" nz-button [nzType]="'dashed'" [nzSize]="'large'" (click)="add()" class="ant-btn__block mt-md">
            <i class="anticon anticon-plus"></i>
            <span>新增商品</span>
        </button>
    </nz-card>

    <!-- <button *ngIf="isSave" nz-button [nzType]="'primary'" [nzSize]="'large'" type="submit" [nzLoading]="isConfirmLoading">
        {{l("保存")}}
    </button>
    <button *ngIf="isPulish" nz-button [nzType]="'primary'" (click)="pulish(modelContent)" [nzSize]="'large'" [nzLoading]="isConfirmLoading">
        {{l("发布")}}
    </button> -->
</form>
<footer-toolbar errorCollect>
    <button *ngIf="isSave" nz-button [nzType]="'primary'" (click)="saveSub()" [nzSize]="'large'" [nzLoading]="isConfirmLoading">
        {{l("保存")}}
    </button>
    <button *ngIf="isPulish" nz-button [nzType]="'primary'" (click)="pulish(modelContent,2)" [nzSize]="'large'" [nzLoading]="isConfirmLoading">
        {{l("发布")}}
    </button>
    <button *ngIf="isDropOff" nz-button [nzType]="'primary'" (click)="pulish(modelContent,3)" [nzSize]="'large'" [nzLoading]="isConfirmLoading">
        {{l("下架")}}
    </button>
    <!-- <button  nz-button [nzType]="'primary'" (click)="Return()" [nzSize]="'large'" >
        {{l("返回")}}
    </button> -->
</footer-toolbar>