<!--component html goes here -->
<Page [ngClass]="'Exhibition'" [title]="'陈列活动'" [showTitle]="false" [spacing]="false">
    <div class="weui-panel weui-panel_access">
        <div class="weui-cell" style=" padding-bottom: 0px; padding-top: 0px; padding-left: 0px; padding-right: 0px;">
            <div style="text-align: center; width: 100%;">
                <img src="assets/images/exhibition/exhibitionBanner.jpg" style="width:100%;">
            </div>
        </div>
        <div class="weui-panel__bd">
            <weui-searchbar (search)="onSearch($event)" [(value)]="value" placeholder="请输入店铺名称" (cancel)="onCancel()" [debounceTime]="500" (clear)="onClear()"></weui-searchbar>
            <div class="weui-panel" style="margin-top: 0px;" *ngIf="value">
                <div class="weui-panel__hd">包含【{{value}}】的店铺</div>
                <div class="weui-panel__bd" *ngIf="shops | async; let shops; else loading">
                    <a class="weui-cell weui-cell_access" *ngFor="let item of shops" (click)="goDetail(item.shopId)">
                        <div class="weui-cell__bd weui-cell_primary">
                            <p>{{item.shopName}}</p>
                        </div>
                    </a>
                    <div class="weui-media-box weui-media-box_text" *ngIf="shops?.length === 0">没有该店铺信息</div>
                </div>
                <ng-template #loading>
                    <div class="weui-panel__bd">
                        <div class="weui-media-box weui-media-box_text">加载中...</div>
                    </div>
                </ng-template>
            </div>

            <div class="weui-flex" style="padding-top: 5px;">
                <div class="weui-flex__item">
                    <div class="placeholder" style="text-align: center;font-size: 13px;color: #999999;">已参赛:{{shopTotal}}</div>
                </div>
                <div class="weui-flex__item">
                    <div class="placeholder" style="text-align: center;font-size: 13px;color: #999999;">投票人次:{{voteTotal}}</div>
                </div>
            </div>
            <div class="button-sp-area">
                <button class="btn" weui-button [weui-mini]="'mini'" [weui-plain]="true" (click)="getExhibitionShop('vote')">投票排行</button>
                <button class="btn" weui-button [weui-mini]="'mini'" [weui-plain]="true" (click)="getExhibitionShop('time')">最新参赛</button>
            </div>
            <weui-loadmore type="line" *ngIf="!exhibitionShopList || exhibitionShopList.length == 0"></weui-loadmore>
            <!-- <div class="weui-cell weui-cell_access">
            <div class="weui-flex__item" *ngFor="let item of exhibitionShopList">
                <div class="placeholder" style="text-align: center;color: #999999;">
                    <div class="weui-panel__bd">                    
                        <img class="weui-media-box__thumb" src="{{hostUrl+item.picPath}}" alt="" (click)="goDetail(item.id)">
                        <div class="weui-media-box weui-media-box_text">
                            <p class="weui-media-box__desc" style="color: #434142;float: left;font-size: 13px">{{item.shopName}}</p>
                            <ul class="weui-media-box__info">
                                <li class="weui-media-box__info__meta" style="color: #999999">票数：{{item.votes}}</li>
                                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra" (click)="voteAdd(item.id)" style="color: #0BB20C">投票</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="weui-flex" style="flex-flow: row wrap;padding-left: 13px;">
                <div class="weui-flex__item" style="text-align: center;" *ngFor="let item of exhibitionShopList">
                    <!-- <div class="placeholder" style="text-align: center;color: #999999;"> -->
                    <div class="weui-media-box__hd" style="float: left;">
                        <img style="height: 128px;width: 160px;" class="weui-media-box__thumb diy_img" [ngStyle]="{'background-image':'url('+ hostUrl + item.picPath +')'}" alt="" (click)="goDetail(item.shopId)">
                        <!-- <img style="height: 128px;width: 128px;" class="weui-media-box__thumb" src="{{hostUrl+item.picPath}}" alt="" (click)="goDetail(item.shopId)"> -->
                        <div class="weui-media-box weui-media-box_text" style="padding-top: 0px;padding-bottom: 5px;">
                            <p class="weui-media-box__desc" style="color: #434142;float: center;text-align: center; font-size: 13px">{{item.shopName}}</p>
                            <ul class="weui-media-box__info" style="margin-top: 5px;">
                                <li class="weui-media-box__info__meta" style="color: #999999">票数：{{item.votes}}</li>
                                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra" (click)="voteAdd(item.id)" style="color: #0BB20C;font-size: 16px">投票</li>
                            </ul>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <section class="rules">
            <div class="text">
                <!-- <div class="prize">活动公告</div>
                <div class="neirong">
                    <span style="font-size:16px;">&nbsp; &nbsp; &nbsp;{{exhibition.content}}</span>
                </div> -->
                <div class="prize">投票须知</div>
                <div class="neirong">
                    <div style="text-align:left;">
                        <span style="font-size:14px;">
                            <div>                           
                                <p *ngFor="let item of voteDesc" style="font-size:16px;padding-left: 10px;"> 
                                    {{item}}
                                </p>                         
                            </div>                            
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <div *ngIf="qjyyPic">
            <img class="mdiv" src="assets/images/exhibition/qrurl.jpg" style="width: 128px;height: 128px; padding: 128px;" />
            <!-- <p>长按识别二维码关注公众号</p> -->
        </div>
        <!-- <div class="qrUrl" style="text-align: center" *ngIf="qjyyPic">
            <img class="mdiv" src="{{qjyyPic}}" alt="">
            <p>长按识别二维码关注公众号</p>
        </div> -->
        <!-- <div class="qrUrl" style="text-align: center" *ngIf="qjyyPic">
            <img class="mdiv" src="{{qjyyPic}}" style="position:absolute;width: 160px;height: 160px;opacity: 0" alt="">
            <p>长按识别二维码关注公众号</p>
        </div> -->
    </div>
    <!-- <img style="height: 100%;width: 100%;opacity: 0" src="{{qjyyPic}}"> -->
</Page>

<!-- <img class="" data-ratio="1" data-src="{{qjyyPic}}" data-type="jpeg" data-w="344" style="box-sizing: border-box !important; word-wrap: break-word !important; visibility: visible !important; width: 140px !important; height: auto !important;" title="1490853201556697.jpg"
    width="140px" _width="140px" src="{{qjyyPic}}" data-fail="0">
<p>长按识别二维码关注公众号</p> -->