<Page [ngClass]="'grid'" [title]="'Grid'" [subTitle]="'九宫格'" [spacing]="false" [ftBottom]="true">

    <div class="weui-grids">
        <a [routerLink]="['/activities/activity']" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./assets/images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">营销活动</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./assets/images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./assets/images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>
        <a [routerLink]="['/buy/nearby-shop']" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./assets/images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">附近店铺</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./assets/images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./assets/images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>
        <a [routerLink]="['/center/personal']" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./assets/images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">个人中心</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./assets/images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="./assets/images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>
    </div>
</Page>
