/*
作者：1835839488@qq.com
时间：2016-08-11
描述:明星客户
*/
/*明星客户列表*/
.custom_list{}
.custom_list li {
    height: auto;
    margin-top: 8px;
    overflow: hidden;
    width: 100%;
}
.custom_list li:first-child{margin-top: 0;}
/*客户信息*/
.custom_info {
    height: auto;
    left: 3%;
    overflow: hidden;
    position: absolute;
    top: 10px;
    width: 94%;
}
.custom_name {
    color: #fff;
    display: block;
    font-size: 1.3em;
    font-weight: bold;
}
.coustom_shop {
    color: #fff;
    display: block;
}
.custom_star{}
.custom_star li {
    float: left;
    margin-top: 0;
    width: 18px;
}
.star_fly {
    bottom: 10px;
    left: 3%;
    width: 42px;
}
/*
作者：1835839488@qq.com
时间：2016-08-11
描述:烟店搜寻
*/
.shop_location {
    background: #00c96b none repeat scroll 0 0;
    height: auto;
    overflow: hidden;
    padding: 6px 5% 6px 1%;
    width: 94%;
}
/*附近销售店*/
.search_tilte {
    background: #fff none repeat scroll 0 0;
    color: #000;
    font-size: 1.1em;
    line-height: 40px;
    text-align: center;
}
.search_list{}
.search_list li {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #c4c4c6;
    border-top: 1px solid #c4c4c6;
    height: auto;
    overflow: hidden;
    padding: 5px 3% 5px 7%;
    width: 90%;
    margin-top: 5px;
}
.search_list li:first-child{margin-top: 0;}
/*门店图片*/
.shop_pic {
    border-radius: 3px;
    overflow: hidden;
    width: 80px;
}
.detail_info{}
.detail_info span {
    color: #000;
    font-size: 0.9em;
}
/*门店位置*/
.location_icon{
    margin-top: 2px;
    width: 14px;
}
.shop_distance {
    color: #c4c4c6;
    font-size: 0.85em;
}
.shop_distance span {
    color: #c4c4c6;
    font-size: 1em;
}
/*
作者：1835839488@qq.com
时间：2016-08-11
描述:用户绑定
*/
/*用户类型选择*/
.user_type li {
    background: #138363 none repeat scroll 0 0;
    color: #50bb98;
    float: left;
    line-height: 40px;
    text-align: center;
    width: 50%;
}
.user_active {
    background: #50bb98 none repeat scroll 0 0 !important;
    color: #fff !important;
}
/*绑定输入*/
.bind_area{}
.bind_area li {
    background: #fff none repeat scroll 0 0;
    height: auto;
    margin-top: 5px;
    padding: 10px 0;
    width: 100%;
}
.bind_area li > input,.bind_area li > select {
    border: medium none;
    text-align: center;
    width: 100%;
}
/*
作者：1835839488@qq.com
时间：2016-08-12
描述:会员--查看店铺
*/
.tab_menu > li {
    background: #fff none repeat scroll 0 0;
    float: left;
    font-size: 1.05em;
    line-height: 34px;
    text-align: center;
    width: 33.3%;
}
.menu_active {
    border-bottom: 3px solid #f9ba12;
    color: #f9ba12;
}
.judge_point {
    background: #fff none repeat scroll 0 0;
    height: auto;
    overflow: hidden;
    padding: 20px 5%;
    width: 90%;
}
.view_point {
    color: #f9ba12;
    font-family: arial;
    font-size: 2em;
    text-align: center;
    width: 100%;
}
.piont_small {
    color: #f9ba12;
    font-size: 0.85em;
}
.tel_icon {
    width: 30px;
}
.advise {
    background: #fff none repeat scroll 0 0;
    color: #ee1817;
    padding: 8px 0;
    text-align: center;
}
.judge_link {
    background: #3ec46a none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    font-size: 0.9em;
    padding: 1px 14px;
}
/*
作者：1835839488@qq.com
时间：2016-08-12
描述:会员--商品编辑
*/
/*商品图片*/
.update_pic {
    background: #cccccc none repeat scroll 0 0;
    padding: 33px 0;
}
.update_pic img {
    display: block;
    margin: 0 auto;
    width: 65px;
}
/*商品参数*/
.update_para {
    background: #fff none repeat scroll 0 0;
    padding-bottom: 30px;
}
.para_list {
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    width: 92%;
}
.para_list li {
    height: auto;
    overflow: hidden;
    padding: 20px 0;
    width: 100%;
}
.para_key {
    color: #282828;
}
.para_value {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #bdbdbd;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #666465;
    display: block;
    float: left;
    margin-left: 5px;
    text-align: left;
    text-indent: 20px;
    width: 79%;
}
/*
作者：1835839488@qq.com
时间：2016-08-12
描述:搜索客户信息
*/
/*输入区域*/
.search_area {
    background: #f9ba13 none repeat scroll 0 0;
    height: auto;
    overflow: hidden;
    padding: 4px 0;
    width: 100%;
}
.search_box {
    background: #fff none repeat scroll 0 0;
    border-radius: 25px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 1px 0;
    width: 80%;
}
.search_entry {
    border: 0 none;
    line-height: 22px;
    text-indent: 10px;
    width: 80%;
}
.searh_icon {
    width: 24px;
}
/*查询信息分类*/
.search_type {
    height: auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.search_type li {
    background: #fff none repeat scroll 0 0;
    float: left;
    line-height: 40px;
    width: 50%;
}
/*表格显示*/
.count_table tr th {
    background: #ffe7a9 none repeat scroll 0 0;
    padding: 7px 0;
    text-align: center;
}
.count_table tr td {
    padding: 7px 0;
    text-align: center;
}
.count_table tr:nth-child(odd){background:#ddebf4 none repeat scroll 0 0;}
/*
作者：1835839488@qq.com
时间：2016-08-25
描述:信息动态
*/
/*内容主体*/
.trend_type>li{width: 50%;}
.trend_tab {
    background: #fff none repeat scroll 0 0;
    height: auto;
    overflow: hidden;
    padding: 0 3%;
    width: 88%;
    margin: 0 auto;
}
/*新品讯息*/
/*列表标题*/
.news_title {
    border-bottom: 1px solid #898989;
    border-top: 1px solid #c3c3c3;
    color: #39afe5;
    font-size: 1.05em;
    line-height: 30px;
}
/*营销信息*/
/*表格显示*/
.sale_table th {
    background: #3b8064 none repeat scroll 0 0;
    border-right: 2px solid #fff;
    color: #fff;
    font-size: 0.85em;
    font-weight: bold;
    padding: 4px 0;
    text-align: center;
}
.sale_table td {
    border-right: 2px solid #fff;
    color: #fff;
    font-size: 0.85em;
    padding: 2px 0;
    text-align: center;
}
.sale_table span {
    color: #fff;
    font-size: 1.1em;
}
.sale_table tr:nth-child(even){background:#5daee0;}
.sale_table tr:nth-child(odd){background:#93c6e1;}
.hot_news {
    color: #5daee0!important;
}
/*
作者：1835839488@qq.com
时间：2016-08-26
描述:办证流程
*/
.process_title {
    border-bottom: 1px solid #8a8a8a;
    border-top: 1px solid #8a8a8a;
    color: #000;
    font-size: 1.15em;
    font-weight: bold;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}
.process_warp {
    background: #fff none repeat scroll 0 0;
    padding: 25px 5% 20px;
    width: 90% !important;
}
.process_txt {
    color: #000000;
    line-height: 22px;
    margin: 5px auto 0;
    width: 100%;
}
.procss_list li {
    color: #000;
    height: auto;
    line-height: 22px;
    overflow: hidden;
    width: 100%;
}
/*
作者：1835839488@qq.com
时间：2016-08-29
描述:专卖政策
*/
.page_contain {
    background: #fff none repeat scroll 0 0;
    margin: 0 auto;
    padding: 10px 4%;
    width: 86%;
}
/*
作者：1835839488@qq.com
时间：2016-08-29
描述:专卖政策详情
*/
.policy_title {
    color: #9f3644;
    font-size: 1.05em;
    line-height: 20px;
    margin: 20px 0;
    text-align: center;
}
.policy_warp p{
	line-height: 24px;
}
.policy_warp em {
    color: #000;
}
/*
作者：1835839488@qq.com
时间：2016-08-29
描述:烟草知识
*/
.knowledge_title {
    bottom: 5px;
    color: #000;
    font-size: 1.8em;
    left: 10px;
}
.top_high {
    height: 15px;
    width: 100%;
}
.knowledge_warp {
    background: #fff none repeat scroll 0 0;
    margin: 0 auto;
    padding: 20px 4%;
    width: 88%;
}
.knowledge_warp.bg_white > p {
    color: #000;
    line-height: 22px;
}
.tabel_intro {
    color: #b6b6b6;
    text-align: center;
}
.rule_title {
    display: block;
}
.rule_list{}
.rule_list li {
    line-height: 20px;
    margin-top: 10px;
    width: 100%;
}
.fixed_title {
    border-bottom: 3px solid #3caee7;
    color: #000;
    font-size: 1.05em;
    font-weight: bold;
    left: 50%;
    line-height: 30px;
    margin-left: -75px;
    top: -31px;
    width: 150px;
}
/*
作者：1835839488@qq.com
时间：2016-08-29
描述:客服热线
*/
.page_bg {
    background: rgba(0, 0, 0, 0) url("../img/server/bg.jpg") no-repeat scroll 0 0 / cover ;
    height: 100%;
    width: 100%;
}
.phone {
    color: #fff;
    font-size: 2.2em;
    font-weight: bold;
    left: 11%;
    top: 15%;
    width: 130px;
}
.phone.pa > span {
    color: #fff;
    font-size: 1em;
}
/*提示信息*/
.tip_area {
    background: #fff none repeat scroll 0 0;
    border-radius: 8px;
    bottom: 50px;
    left: 50%;
    margin-left: -150px;
    padding: 20px;
    width: 260px;
}
/*
作者：1835839488@qq.com
时间：2016-08-30
描述:直营店
*/
.direct_main {
    background: #fff none repeat scroll 0 0;
    margin: 0 auto;
    padding: 10px 3%;
    width: 88%;
}
.store_list li {
    height: auto;
    overflow: hidden;
    width: 100%;
    margin-top: 50px;
}
.store_list li:first-child{margin-top: 0;}
.store_info {
    background-color: rgba(82, 186, 151, 0.6);
    height: 122px;
    left: 7%;
    top: 14%;
    width: 84%;
}
.store_info > p {
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    margin: 4% auto;
    padding: 10% 0;
    text-align: center;
    width: 84%;
}
.store_link {
    border-bottom: 1px solid #898989;
    border-top: 1px solid #898989;
    line-height: 30px;
}
.store_name {
    color: #3caee7;
    font-size: 1.05em;
    font-weight: bold;
}
.store_intro {
    color: #898989;
    line-height: 22px;
}
.store_footer p {
    color: #52ba97;
}
.store_footer span {
    color: #52ba97;
}
/*
作者：1835839488@qq.com
时间：2016-08-30
描述:公司简介
*/
.company_contain {
    background: #52ba97 none repeat scroll 0 0;
    height: auto;
    overflow: hidden;
    padding: 0 0 10px;
}
.company_intro {
    border-bottom: 1px solid #fff;
    color: #fff;
    line-height: 22px;
    padding: 10px;
}
.company_detail {
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    width: 300px;
}
.company_info {
    background: #dc7279 none repeat scroll 0 0;
    border-radius: 5px;
}
.company_info td {
    color: #fff;
    padding: 3px 0;
}
.company_info tr td:nth-child(2n+1) {
    text-align: right;
    width: 85px;
}
.company_info tr td:nth-child(2n){
	text-indent: 15px;
}
.triangle_up {
    border-bottom: 8px solid#dc7279;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
    margin: 0 auto;
    width: 0;
}