<pro-header></pro-header>
<nz-card [nzBordered]="false">
    <form nz-form (ngSubmit)="refreshData(false,true)" [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
            <ng-template #deleteContent>
                <h2>是否删除零售户{{employeeName}}?</h2>
            </ng-template>
            <div nz-col [nzSpan]="6" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="search.name" name="name" [nzSize]="'large'" [nzPlaceHolder]="'请输入客户编码或名称'" nzId="name"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-control class="flex-1">
                        <nz-select name="scale" [nzPlaceHolder]="'请选择经营规模'" [(ngModel)]="search.scale" [nzShowSearch]="true" nzSize="large">
                            <nz-option *ngFor="let i of scales" [nzLabel]="i.text" [nzValue]="i.value">
                            </nz-option>
                        </nz-select>
                        <!-- <nz-input [(ngModel)]="search.position" name="position" [nzSize]="'large'" [nzPlaceHolder]="'请输入员工名或员工编码'" nzId="position"></nz-input> -->
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-control class="flex-1">
                            <nz-select name="market" [nzPlaceHolder]="'请选择市场类型'" [(ngModel)]="search.market" [nzShowSearch]="true" nzSize="large">
                                <nz-option *ngFor="let i of markets" [nzLabel]="i.text" [nzValue]="i.value">
                                </nz-option>
                            </nz-select>
                            <!-- <nz-input [(ngModel)]="search.position" name="position" [nzSize]="'large'" [nzPlaceHolder]="'请输入员工名或员工编码'" nzId="position"></nz-input> -->
                        </div>
                    </div>
                </div>
            <div nz-col [nzSpan]="6" class="mb-md" [class.text-right]="'true'">
                <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询</button>
                <button nz-button type="reset" (click)="refreshData(true)" [nzSize]="'large'" class="mx-sm">重置</button>
                <button nz-button (click)="createRetail()" [nzType]="'primary'" [nzSize]="'large'">
                    <i class="anticon anticon-plus"></i>
                    <span>新建</span>
                </button>
            </div>
        </div>
    </form>
    <nz-table #nzTable [nzAjaxData]="retailCustomer" [nzTotal]="query.total" [(nzPageIndex)]="query.pageIndex" [(nzPageSize)]="query.pageSize"
        [nzLoading]="loading" [nzShowTotal]="'true'" [nzShowSizeChanger]="true" (nzPageIndexChange)="refreshData()" (nzPageSizeChange)="refreshData()">
        <thead nz-thead>
            <tr>
                <th nz-th>
                    <span>客户编码</span>
                </th>
                <th nz-th>
                    <span>姓名</span>
                </th>
                <!-- <th nz-th>
                    <span>经营地址</span>
                </th> -->
                <th nz-th>
                    <span>客户分档</span>
                </th>
                <!-- <th nz-th>
                    <span>订货周期</span>
                </th> -->
                <th nz-th>
                    <span>业态</span>
                </th>
                <th nz-th>
                    <span>订货电话</span>
                </th>
                <!-- <th nz-th>
                    <span>分公司</span>
                </th> -->
                <th nz-th>
                    <span>市场部</span>
                </th>
                <th nz-th>
                    <span>客户经理</span>
                </th>
                <!-- <th nz-th>
                    <span>订货方式</span>
                </th> -->
                <!-- <th nz-th>
                    <span>终端类型</span>
                </th> -->
                <!-- <th nz-th>
                    <span>商圈类型</span>
                </th> -->
                <th nz-th>
                    <span>经营规模</span>
                </th>
                <th nz-th>
                    <span>市场类型</span>
                </th>
                <!-- <th nz-th>
                    <span>送货线路</span>
                </th> -->
                <th nz-th>
                    <span>专卖证号</span>
                </th>
                <th nz-th>
                        <span>状态</span>
                    </th>
                <th nz-th>
                    <span>操作</span>
                </th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let retail of nzTable.data">
                <td nz-td>{{retail.code}}</td>
                <td nz-td>{{retail.name}}</td>
                <!-- <td nz-td>{{retail.businessAddress}}</td> -->
                <td nz-td>{{retail.archivalLevel}}</td>
                <!-- <td nz-td>{{retail.orderCycle}}</td> -->
                <td nz-td>{{retail.storeType}}</td>
                <td nz-td>{{retail.telephone}}</td>
                <!-- <td nz-td>{{retail.branchCompany}}</td> -->
                <td nz-td>{{retail.department}}</td>
                <td nz-td>{{retail.manager}}</td>
                <!-- <td nz-td>{{retail.orderModeName}}</td> -->
                <!-- <td nz-td>{{retail.terminalTypeName}}</td> -->
                <!-- <td nz-td>{{retail.businessType}}</td> -->
                <td nz-td>{{retail.scaleName}}</td>
                <td nz-td>{{retail.marketTypeName}}</td>
                <!-- <td nz-td>{{retail.deliveryLine}}</td> -->
                <td nz-td>{{retail.licenseKey}}</td>
                <td nz-td>
                    <nz-badge [nzStatus]="retail.activeType" [nzText]="retail.activeText"></nz-badge>
                </td>
                <td nz-td>
                    <a (click)="editRetail(retail)">详情</a>
                    <span nz-table-divider></span>
                    <a (click)="delete(retail,deleteContent)">删除</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
<!-- <edit-employee-modal #editEmployeeModal (modalSave)="refreshData()"></edit-employee-modal>
<create-employee-modal #createEmployeeModal (modalSave)="refreshData()"></create-employee-modal> -->