// component css goes here
// component css goes here
.weui-media-box__info {
    margin-top: 0px;
    padding-bottom: 0px;
    font-size: 13px;
    color: #999999;
    line-height: 1em;
    list-style: none;
    overflow: hidden;
}

.weui-media-box {
    padding-top: 8px;
    padding-bottom: 8px;
}

.weui-media-box_appmsg .weui-media-box__thumb {
    width: 60px;
    height: 60px;
}

.sp {
    padding-bottom: 5px;
}

.tim {
    padding-top: 5px;
}