<!--component html goes here -->
<Page [ngClass]="'panel'" [title]="'Panel'" [showTitle]="false" [subTitle]="'面板'" [spacing]="false">
    <div class="weui-panel__bd" *ngIf="user">
        <div class="weui-flex">
            <div class="weui-flex__item" style="background-image: url(assets/images/integral/integralbanner.png);">
                <div class="placeholder" style="font-size: 50px;color:#D1A06C;text-align:center ">
                    <img src="assets/images/integral/integral.png"> {{user.integralTotal}}
                </div>
            </div>
        </div>
    </div>
    <weui-infiniteloader (loadmore)="onLoadMore($event)" #comp>
        <div class="weui-cells__title">积分规则</div>
        <div class="weui-cells ">
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__hd">
                    <img src="assets/images/integral/samleintegral1.png" alt="" style="width:16px;margin-right:5px;display:block">
                </div>
                <div class="weui-cell__bd weui-cell_primary">
                    <p>店铺扫码店铺管理员可获赠{{configCode.rcValue}}积分</p>
                </div>
            </div>
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__hd">
                    <img src="assets/images/integral/samleintegral1.png" alt="" style="width:16px;margin-right:5px;display:block">
                </div>
                <div class="weui-cell__bd weui-cell_primary">
                    <p> 购买商品消费金额1元可获得{{configCode.cValue}}积分</p>
                </div>
            </div>
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__hd">
                    <img src="assets/images/integral/samleintegral1.png" alt="" style="width:16px;margin-right:5px;display:block">
                </div>
                <div class="weui-cell__bd weui-cell_primary">
                    <p>店铺评价1次可获得{{configCode.eValue}}积分</p>
                </div>
            </div>
            <!-- <div class="weui-cell ">
                <div class="weui-cell__bd ">
                    <div class="weui-media-box__desc" style="text-align:left ">
                        <img src="assets/images/integral/samleintegral1.png"> 店铺扫码店铺管理员可获赠{{configCode.rcValue}}积分
                    </div>
                </div>
            </div>
            <div class="weui-cell__bd ">
                <div class="weui-cell ">
                    <div class="weui-cell__bd ">
                        <div class="weui-media-box__desc" style="text-align:left ">
                            <img src="assets/images/integral/samleintegral1.png"> 购买商品消费金额1元可获得{{configCode.cValue}}积分
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-cell__bd ">
                <div class="weui-cell ">
                    <div class="weui-cell__bd ">
                        <div class="weui-media-box__desc" style="text-align:left ">
                            <img src="assets/images/integral/samleintegral1.png"> 店铺评价1次可获得{{configCode.eValue}}积分
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="weui-cells__title">积分详情</div>
        <div class="weui-panel weui-panel_access ">
            <div class="weui-panel__bd ">
                <div class="weui-media-box weui-media-box_appmsg " *ngFor="let item of integralDetailList">
                    <div class="weui-media-box__bd ">
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <div class="placeholder">
                                    <h4 class="weui-media-box__info" style="font-weight:normal ;font-size: 15px;font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;color: black">{{item.desc}}</h4>
                                </div>
                            </div>
                            <div class="weui-flex__item" *ngIf="item.integral>=0">
                                <div class="placeholder">
                                    <h4 class="weui-media-box__desc  " style="font-size: 17px;color:#D1A06C;text-align: right">+{{item.integral}}</h4>
                                </div>
                            </div>
                            <div class="weui-flex__item" *ngIf="item.integral<0">
                                <div class="placeholder">
                                    <h4 class="weui-media-box__desc  " style="font-size: 17px;color:#FF0000;text-align: right">{{item.integral}}</h4>
                                </div>
                            </div>
                        </div>
                        <ul class="weui-media-box__info ">
                            <li class="weui-media-box__info__meta ">{{item.typeName}}</li>
                            <li class="weui-media-box__info__meta " style="text-align: right ">{{item.creationTime| date:'yyyy-MM-dd HH:mm'}}</li>
                        </ul>
                    </div>
                </div>
                <weui-loadmore type="line" *ngIf="!integralDetailList || integralDetailList.length == 0"></weui-loadmore>
            </div>
        </div>
    </weui-infiniteloader>
</Page>