
@{
    ViewData["Title"] = "广安烟草";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>渠江烟语</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <base href="./">
    <link rel="shortcut icon" href="./favicon.ico">
    <link href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" rel="stylesheet">
    <style type="text/css">
        .preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background: #fff;
            z-index: 9999;
            transition: opacity .65s;
            padding-top: 50%;
        }

        .preloader-hidden-add {
            opacity: 1;
            display: block;
        }

        .preloader-hidden-add-active {
            opacity: 0;
        }

        .preloader-hidden {
            display: none;
        }
    </style>
</head>
<body ontouchstart>
    <div id="loadingToast">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">登录中...</p>
        </div>
    </div>
    <a style="display:none" href="@ViewBag.PageUrl">
        <input type="button" id="btnGoPageUrl" />
    </a>
    <script language="javascript" type="text/javascript">
        document.getElementById("btnGoPageUrl").click();
    </script>
</body>
</html>

