
@{
    Layout = null;
}


<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
</head>

<body style="background:rgb(30,30,30); text-align:center">
    <img class="mdiv" style="width:233.625px;height: 233.625px;margin-top: 50%;" src="@ViewBag.QrCodeUrl" alt="">
    <p style="color:white">扫一扫或长按识别二维码关注公众号</p>
</body>

</html>
