<pro-header [title]="formTitle">
    <ng-template #logo>
        <img src="https://gw.alipayobjects.com/zos/rmsportal/nxkuOJlFJuAUhzlMTCEe.png">
    </ng-template>
    <ng-template *ngIf="form" #action>
        <button nz-button *ngIf="form.status == 1" [nzSize]="'large'" (click)="editForm()">修改商品信息</button>
        <button nz-button [nzSize]="'large'" (click)="cancel()" *ngIf="form.status == 1 || form.status == 2 || form.status == 3 || form.status == 4">取消</button>
        <button nz-button [nzSize]="'large'" (click)="reject()" *ngIf="form.status == 1 || form.status == 2">拒绝</button>
        <button nz-button [nzType]="'primary'" (click)="firstApproval()" *ngIf="form.status == 1" [nzSize]="'large'">初审通过</button>
        <button nz-button [nzType]="'primary'" (click)="approval()" *ngIf="form.status == 2" [nzSize]="'large'">资料回传审核通过</button>
        <button nz-button [nzType]="'primary'" (click)="approvalEnd()" *ngIf="form.status == 4 && ismcenter" [nzSize]="'large'">营销中心审核通过</button>
    </ng-template>
    <ng-template style="display:none; width:0px;" #extra></ng-template>
    <ng-template #content>
        <desc-list size="small" col="3" *ngIf="form">
            <desc-list-item term="活动名称">{{form.activityName}}</desc-list-item>
            <desc-list-item term="零售客户">{{form.retailerName}}</desc-list-item>
            <desc-list-item term="客户经理">{{form.managerName}}</desc-list-item>
            <desc-list-item term="商品规格">{{form.goodsSpecification}}</desc-list-item>
            <desc-list-item term="申请数量">{{form.num}}</desc-list-item>
            <desc-list-item term="申请人">{{form.creationUser}}</desc-list-item>
            <desc-list-item term="申请时间">{{form.creationTime | _date}}</desc-list-item>
            <desc-list-item term="申请理由">{{form.reason}}</desc-list-item>
        </desc-list>
    </ng-template>
    <ng-template #tab>
        <nz-tabset [nzSize]="'default'">
            <nz-tab>
                <ng-template #nzTabHeading>详情</ng-template>
                <span>
                    <nz-card *ngIf="form" class="mb-lg">
                        <nz-steps [nzCurrent]="form.currentStep" [nzSize]="'small'" >
                            <nz-step *ngFor="let log of form.formLogList" [nzTitle]="log.statusName" [nzDescription]="showDesc">
                                <ng-template #showDesc>
                                    <p>{{log.desc}}</p>
                                    <p *ngIf="log.userName" class="my-sm">{{log.userName}}({{log.userTypeName}})</p>
                                    <p *ngIf="log.actionTime">{{log.actionTime | _date}}</p>
                                    <p *ngIf="log.opinion">意见：{{log.opinion}}</p>
                                </ng-template>
                            </nz-step>
                        </nz-steps>
                        <div class="steps-content"></div>
                    </nz-card>
                    <nz-card class="mb-lg">
                        <ng-template #title>
                            宴席信息
                        </ng-template>
                        <ng-template #extra>
                            <a *ngIf="form && form.status != 5 && form.status != 6" (click)="editBanquet()">修改</a>
                        </ng-template>
                        <ng-template #body>
                            <desc-list class="mb-lg" *ngIf="banquet">
                                <desc-list-item term="区县">{{banquet.area}}</desc-list-item>
                                <desc-list-item term="责任人">{{banquet.responsible}}</desc-list-item>
                                <desc-list-item term="活动执行人">{{banquet.executor}}</desc-list-item>
                                <desc-list-item term="宴席时间">{{banquet.banquetTime | _date}}</desc-list-item>
                                <desc-list-item term="宴席地点">{{banquet.position}}</desc-list-item>
                                <desc-list-item term="现场人数">{{banquet.num}}</desc-list-item>
                                <desc-list-item term="上传时间">{{banquet.creationTime | _date}}</desc-list-item>
                                <desc-list-item term="上传人">{{banquet.userName}}</desc-list-item>
                                <desc-list-item term="现场简述">{{banquet.desc}}</desc-list-item>
                            </desc-list>
                            <h4 class="mb-md">现场照片（点击图片可查看原图）</h4>
                            <nz-list [nzLoading]="loading" class="imgList" [nzDataSource]="photoUrls" [nzGrid]="{gutter: 24, lg: 6, md: 8, sm: 12, xs: 24 }">
                                <ng-template #item let-item>
                                    <nz-list-item>
                                        <img alt="" src="{{item}}" (click)="handlePreview(item)" style="width: 98%; height: 250px;">
                                    </nz-list-item>
                                </ng-template>
                            </nz-list>
                        </ng-template>
                    </nz-card>
                </span>
            </nz-tab>
            <nz-tab>
                <ng-template #nzTabHeading>消费者信息</ng-template>
                <nz-card class="mb-lg">
                    <ng-template #title>
                        基本信息
                    </ng-template>
                    <ng-template #extra>
                        <a (click)="editDelivery()" *ngIf="form && form.status != 5 && form.status != 6">修改</a>
                    </ng-template>
                    <ng-template #body>
                        <desc-list class="mb-lg" *ngIf="delivery">
                            <desc-list-item term="姓名">{{delivery.userName}}</desc-list-item>
                            <desc-list-item term="地址">{{delivery.address}}</desc-list-item>
                            <desc-list-item term="联系电话">{{delivery.phone}}</desc-list-item>
                            <desc-list-item term="收货备注">{{delivery.deliveryRemark}}</desc-list-item>
                        </desc-list>
                        <div *ngIf="!delivery" style="text-align: center;">
                            没有数据
                        </div>
                    </ng-template>
                </nz-card>
                <nz-card class="mb-lg">
                    <ng-template #title>
                        物流信息
                    </ng-template>
                    <ng-template #extra>
                        <a (click)="editExpress()">添加/修改</a>
                    </ng-template>
                    <ng-template #body>
                        <desc-list class="mb-lg" *ngIf="delivery">
                            <desc-list-item term="快递公司">{{delivery.expressCompany}}</desc-list-item>
                            <desc-list-item term="快递单号">{{delivery.expressNo}}</desc-list-item>
                            <desc-list-item term="发件日期">{{delivery.sendTime | _date}}</desc-list-item>
                            <desc-list-item term="备注">{{delivery.remark}}</desc-list-item>
                        </desc-list>
                        <div *ngIf="!delivery" style="text-align: center;">
                            没有数据
                        </div>
                    </ng-template>
                </nz-card>
            </nz-tab>
            <nz-tab>
                <ng-template #nzTabHeading>推荐人信息</ng-template>
                <nz-card class="mb-lg">
                    <ng-template #title>
                        基本信息
                    </ng-template>
                    <ng-template #extra>
                        <a (click)="editRDelivery()" *ngIf="form && form.status != 5 && form.status != 6">添加/修改</a>
                    </ng-template>
                    <ng-template #body>
                        <desc-list class="mb-lg" *ngIf="rdelivery">
                            <desc-list-item term="姓名">{{rdelivery.userName}}</desc-list-item>
                            <desc-list-item term="地址">{{rdelivery.address}}</desc-list-item>
                            <desc-list-item term="联系电话">{{rdelivery.phone}}</desc-list-item>
                            <desc-list-item term="收货备注">{{rdelivery.deliveryRemark}}</desc-list-item>
                        </desc-list>
                        <div *ngIf="!rdelivery" style="text-align: center;">
                            没有数据
                        </div>
                    </ng-template>
                </nz-card>
                <nz-card class="mb-lg">
                    <ng-template #title>
                        物流信息
                    </ng-template>
                    <ng-template #extra>
                        <a (click)="editRExpress()">添加/修改</a>
                    </ng-template>
                    <ng-template #body>
                        <desc-list class="mb-lg" *ngIf="rdelivery">
                            <desc-list-item term="快递公司">{{rdelivery.expressCompany}}</desc-list-item>
                            <desc-list-item term="快递单号">{{rdelivery.expressNo}}</desc-list-item>
                            <desc-list-item term="发件日期">{{rdelivery.sendTime | _date}}</desc-list-item>
                            <desc-list-item term="备注">{{rdelivery.remark}}</desc-list-item>
                        </desc-list>
                        <div *ngIf="!rdelivery" style="text-align: center;">
                            没有数据
                        </div>
                    </ng-template>
                </nz-card>
            </nz-tab>
        </nz-tabset>
    </ng-template>
</pro-header>
<nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" [nzWidth]="imgWidth" (nzOnCancel)="previewVisible=false">
    <ng-template #modalContent>
        <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
    </ng-template>
</nz-modal>
<approval-modal #approvalModal (modalSave)="getFormData()"></approval-modal>
<edit-form-modal #editFormModal (modalSave)="getFormData()"></edit-form-modal>
<edit-delivery-modal #editDeliveryModal (modalSave)="getDeliveryData()"></edit-delivery-modal>
<edit-express-modal #editExpressModal (modalSave)="getDeliveryData()"></edit-express-modal>
<edit-banquet-modal #editBanquetModal (modalSave)="getBanquetData()"></edit-banquet-modal>