<Page [ngClass]="'Scan'" [title]="'营销活动'" [showTitle]="false" [spacing]="false">
    <!-- <weui-ptr (refresh)="onRefresh($event)" [disabled]="disabled"> -->
    <div class="weui-panel weui-panel_access">
        <div class="weui-cell" style=" padding-bottom: 0px; padding-top: 0px; padding-left: 0px; padding-right: 0px;">
            <div style="text-align: center; width: 100%;">
                <img src="assets/images/activity/activitybanner.jpg" style="width:100%;">
            </div>
        </div>
        <div class="weui-panel__bd">
            <weui-infiniteloader (loadmore)="onLoadMore($event)" #comp>

                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" *ngFor="let item of activityList" (click)="goDetailActivity(item.id)">
                    <!-- <div class="weui-media-box__hd"> -->
                    <div class="weui-media-box__hd weui-cell_img" [ngStyle]="{'background-image':'url('+ hostUrl + item.coverPhoto +')'}">
                    </div>
                    <!-- </div> -->
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">{{item.title}}</h4>
                        <p class="weui-media-box__desc">{{item.content}}</p>
                    </div>
                    <div class="weui-media-box__ft" style="font-size: 14px;">
                        {{item.creationTime| date:'yyyy-MM-dd'}}
                    </div>
                </a>
            </weui-infiniteloader>
            <weui-loadmore type="line" *ngIf="!activityList || activityList.length == 0"></weui-loadmore>
        </div>
    </div>
    <!-- </weui-ptr> -->
</Page>