<Page [ngClass]="'Scan'" [title]="'营销活动'" [showTitle]="false" [spacing]="false">
    <!-- <weui-ptr (refresh)="onRefresh($event)" [disabled]="disabled"> -->
    <div class="weui-panel weui-panel_access">
        <div class="weui-cell" style=" padding-bottom: 0px; padding-top: 0px; padding-left: 0px; padding-right: 0px;">
            <div style="text-align: center; width: 100%;">
                <img src="assets/images/activity/activitybanner.jpg" style="width:100%;">
            </div>
        </div>
        <weui-infiniteloader (loadmore)="onLoadMore($event)" #comp>

            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" *ngFor="let item of activity" (click)="goDetailActivity(item.id)">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="{{item.coverPhoto | hostUrl}}" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">{{item.title}}</h4>
                        <p class="weui-media-box__desc">{{item.content}}</p>
                    </div>
                    <div>
                        <div class="placeholder ">
                            <p class="weui-media-box__desc">{{item.creationTime| date:'yyyy-MM-dd'}}</p>
                        </div>
                    </div>
                </a>
            </div>

        </weui-infiniteloader>
    </div>
    <!-- </weui-ptr> -->
</Page>