// component css goes here
.weui-cell__bd{
    font-size: 14px;
}
.weui-article{
    padding:0px;
    font-size: 14px;
    // color: #1aad19;
    text-align: center;
    background-color: #1aad19;
}
.weui-article h1{
    height: 35px;
    margin-bottom:0px;
}
.weui-cells{
    margin-top:0px;
}
.headImage{
    width: 28%;
}
// .customercss{
//     color: #1aad19;
// }
.hdcss{
    width: 23%;
    // text-align:center;
}
.ftcss{
    width: 30%;
    color: black;
    // text-align:center;
}
.clickbuttonCss{
    background-color: #1aad19;
}
.defaultbuttonCss{
    background-color: #AAAAAA;
    border: 0px;
}
.weui-cells{
    font-size: 14px;
}
.infoCss{
    color: rgb(53,53,53);
    float: left;
}
.weui-bar__item_on{
    background-color: #1aad19;
}
.qftcss{
    width: 50%;
    color: black;
    // text-align:center;
}
.accounttitle{
    background-color: #EAEAEA;
    font-weight:bold;
}