<!--component html goes here -->
<weui-navbar>
    <weui-tab heading="客户基础信息" active="{{isAccount}}">
        <!-- <article class="weui-article">
            <h1 style="color: white;">个人基础信息</h1>
        </article> -->
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd headImage" style="position: relative;margin-right: 10px;">
                    <img src="{{headImg}}" style="width: 50px;display: block" />
                    <!-- <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">8</span> -->
                </div>
                <div class="weui-cell__bd">
                    <!-- <p style="margin-bottom: 0.5em;">
                        <button style="border-radius: 15px;" weui-button [weui-mini]="'mini'">姓名</button>
                        <span style="font-size: 14px;color: #888888;float: right;margin: 5px auto;">{{customer.name}}</span>
                    </p>
                    <p style="margin-bottom: 0.5em;">
                        <button style="border-radius: 15px;" weui-button [weui-mini]="'mini'">地址</button>
                        <span style="font-size: 14px;color: #888888;float: right;margin: 5px auto;">{{customer.businessAddress}}</span>
                    </p>

                    <p style="margin-bottom: 0.5em;">
                        <button style="border-radius: 15px;" weui-button [weui-mini]="'mini'">编码</button>
                        <span style="font-size: 14px;color: #888888;float: right;margin: 5px auto;">{{customer.code}}</span>
                    </p>

                    <p style="margin-bottom: 0.5em;">
                        <button style="border-radius: 15px;" weui-button [weui-mini]="'mini'">档级</button>
                        <span style="font-size: 14px;color: #888888;float: right;margin: 5px auto;">{{customer.archivalLevel}}</span>
                    </p> -->
                    <p>
                        <span >{{customer.name}}</span>
                    </p>
                    <p>
                        <span style="font-size: 13px;color: #888888;">{{customer.licenseKey}}</span>
                    </p>
                    <p>
                        <span style="font-size: 13px;color: #888888;text-align: center;">{{customer.businessAddress}}</span>
                    </p>
                    <!-- <p>
                        <span style="font-size: 13px;color: #888888;">{{customer.archivalLevel}}</span>
                    </p> -->
                </div>

            </div>
            
                <div class="weui-cell weui-cell_access" (click)="goCustomerLeavel(i)">
                    <div class="weui-cell__bd">
                        <span style="vertical-align: middle; font-size: 14px;">档级货源</span>
                    </div>
                    <div class="weui-cell__ft">
                            <span style="margin-left: 5px; color: #1aad19">{{customer.archivalLevel}}</span>
                       </div>
                </div>
        </div>
        <div class="weui-cells__title">基础信息</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>本月订货金额</p>
                </div>
                <div class="weui-cell__ft infoCss">8080</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>本月订货总量</p>
                </div>
                <div class="weui-cell__ft infoCss">9089</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>上月订货金额</p>
                </div>
                <div class="weui-cell__ft infoCss">90980</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>上月订货总量</p>
                </div>
                <div class="weui-cell__ft infoCss" >9087</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>川烟数量</p>
                </div>
                <div class="weui-cell__ft infoCss">980078</div>
            </div>
            <!-- <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>档级</p>
                </div>
                <div class="weui-cell__ft infoCss">2档</div>
            </div> -->
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>已达档级</p>
                </div>
                <div class="weui-cell__ft infoCss">一档</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>本月积分</p>
                </div>
                <div class="weui-cell__ft infoCss">890</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>验证码</p>
                </div>
                <div class="weui-cell__ft infoCss" (click)="showVerCode()">{{verCode}}</div>
            </div>
        </div>
        <div class="weui-cells__tips">以上信息仅供参考，如有差异请以订货系统为准</div>
        <div class="weui-btn-area">
            <button weui-button [weui-loading]="loading" (click)="goBack()">返回</button>
        </div>
    </weui-tab>
    <weui-tab heading="客户订货台账" >
        <!-- <article class="weui-article">
                <h1 style="color: white;">台账信息</h1>
        </article> -->
        <div style="padding: 20px;">
            <button weui-button [weui-mini]="'mini'" [ngClass]="{clickbuttonCss: tableShow==1,defaultbuttonCss:tableShow!=1}" (click)="showTable(1)">月度</button>
            <button weui-button [weui-mini]="'mini'" [ngClass]="{clickbuttonCss: tableShow==2,defaultbuttonCss:tableShow!=2}" (click)="showTable(2)">季度</button>
            <button weui-button [weui-mini]="'mini'" [ngClass]="{clickbuttonCss: tableShow==3,defaultbuttonCss:tableShow!=3}" (click)="showTable(3)">半年</button>
        </div>
        <!-- 月度 -->
        <div class="weui-cells" *ngIf="tableShow===1">
            <a class="weui-cell weui-cells__title">
                <div class="weui-cell__hd hdcss">日期</div>
                <div class="weui-cell__bd" style="text-align:center;">名称</div>
                <!-- <div class="weui-cell__bd" style="text-align:center;">上月购数量</div> -->
                <div class="weui-cell__ft ftcss">本月购数量</div>
            </a>
            <div class="weui-cells__title">本月购数量</div>
            <a class="weui-cell " (click)="goCustomerLeavel(i)">
                <div class="weui-cell__hd hdcss">20180512</div>
                <div class="weui-cell__bd" style="text-align:center;">（娇子）中华</div>
                <!-- <div class="weui-cell__bd" style="text-align:center;">200</div> -->
                <div class="weui-cell__ft ftcss">300</div>
            </a>
            <div class="weui-cells__title">上月购数量</div>
            <a class="weui-cell " (click)="goCustomerLeavel(i)">
                <div class="weui-cell__hd hdcss">20180512</div>
                <div class="weui-cell__bd" style="text-align:center;">（娇子）中华</div>
                <!-- <div class="weui-cell__bd" style="text-align:center;">200</div> -->
                <div class="weui-cell__ft ftcss">300</div>
            </a>
        </div>
        <!-- 季度 -->
        <div class="weui-cells" *ngIf="tableShow===2">
            <a class="weui-cell weui-cells__title">
                <div class="weui-cell__hd hdcss">日期</div>
                <div class="weui-cell__bd" style="text-align:center;">名称</div>
                <!-- <div class="weui-cell__bd" style="text-align:center;">上月购数量</div> -->
                <div class="weui-cell__ft ftcss">购买数量</div>
            </a>
            <a class="weui-cell " (click)="goCustomerLeavel(i)">
                <div class="weui-cell__hd hdcss">20180512</div>
                <div class="weui-cell__bd" style="text-align:center;">（娇子）宽窄</div>
                <div class="weui-cell__ft ftcss">300</div>
            </a>
        </div>
        <!-- 半年 -->
        <div class="weui-cells" *ngIf="tableShow===3">
            <a class="weui-cell weui-cells__title">
                <div class="weui-cell__hd hdcss">日期</div>
                <div class="weui-cell__bd" style="text-align:center;">名称</div>
                <div class="weui-cell__ft ftcss">购买数量</div>
            </a>
            <a class="weui-cell " (click)="goCustomerLeavel(i)">
                <div class="weui-cell__hd hdcss">20180512</div>
                <div class="weui-cell__bd" style="text-align:center;">娇子（蓝格调）</div>
                <div class="weui-cell__ft ftcss">1000000</div>
            </a>
        </div>
    </weui-tab>
</weui-navbar>