<!--component html goes here -->
<weui-navbar>

    <weui-tab heading="客户基础信息" active="{{isAccount}}">
        <!-- <article class="weui-article">
            <h1 style="color: white;">个人基础信息</h1>
        </article> -->
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                    <img src="{{headImg}}" style="width: 50px;display: block" />
                    <!-- <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">8</span> -->
                </div>
                <div class="weui-cell__bd">
                    <!-- <p style="margin-bottom: 0.5em;">
                        <button style="border-radius: 15px;" weui-button [weui-mini]="'mini'">姓名</button>
                        <span style="font-size: 14px;color: #888888;float: right;margin: 5px auto;">{{customer.name}}</span>
                    </p>
                    <p style="margin-bottom: 0.5em;">
                        <button style="border-radius: 15px;" weui-button [weui-mini]="'mini'">地址</button>
                        <span style="font-size: 14px;color: #888888;float: right;margin: 5px auto;">{{customer.businessAddress}}</span>
                    </p>

                    <p style="margin-bottom: 0.5em;">
                        <button style="border-radius: 15px;" weui-button [weui-mini]="'mini'">编码</button>
                        <span style="font-size: 14px;color: #888888;float: right;margin: 5px auto;">{{customer.code}}</span>
                    </p>

                    <p style="margin-bottom: 0.5em;">
                        <button style="border-radius: 15px;" weui-button [weui-mini]="'mini'">档级</button>
                        <span style="font-size: 14px;color: #888888;float: right;margin: 5px auto;">{{customer.archivalLevel}}</span>
                    </p> -->
                    <p>
                        <span>{{level.name}}</span>
                    </p>
                    <p>
                        <span style="font-size: 13px;color: #888888;">{{level.licenseKey}}</span>
                    </p>
                    <p>
                        <span style="font-size: 13px;color: #888888;text-align: center;">{{level.businessAddress}}</span>
                    </p>
                    <!-- <p>
                        <span style="font-size: 13px;color: #888888;">{{customer.archivalLevel}}</span>
                    </p> -->
                </div>

            </div>

            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle; font-size: 14px;">档级货源</span>
                </div>
                <div class="weui-cell__ft">
                    {{level.level}}
                </div>
            </div>
            <div class="weui-cell__ft">
                {{customer.archivalLevel}}
            </div>
        </div>
        <div class="weui-cells__title">基础信息</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>本月订货金额</p>
                </div>
                <div class="weui-cell__ft infoCss">{{level.monthOrderMoney}}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>本月订货总量</p>
                </div>
                <div class="weui-cell__ft infoCss">{{level.monthOrderQty}}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>上月订货金额</p>
                </div>
                <div class="weui-cell__ft infoCss">{{level.preMonthOrderMoney}}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>上月订货总量</p>
                </div>
                <div class="weui-cell__ft infoCss">{{level.preMonthOrderQty}}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>川烟数量</p>
                </div>
                <div class="weui-cell__ft infoCss">{{level.siChuanQty}}</div>
            </div>
            <!-- <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>档级</p>
                </div>
                <div class="weui-cell__ft infoCss">2档</div>
            </div> -->
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>已达档级</p>
                </div>
                <div class="weui-cell__ft infoCss">{{level.currentLevel}}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>本月积分</p>
                </div>
                <div class="weui-cell__ft infoCss">{{level.monthPoint}}</div>
            </div>
            <div class="weui-cell" *ngIf="showCode">
                <div class="weui-cell__bd">
                    <p>验证码</p>
                </div>
                <div class="weui-cell__ft infoCss" (click)="showVerCode()">{{verCode}}</div>
            </div>
        </div>
        <div class="weui-cells__tips">以上信息仅供参考，如有差异请以订货系统为准</div>
        <div class="weui-btn-area">
            <button weui-button (click)="goBack()">返回</button>
        </div>
    </weui-tab>
    <weui-tab heading="客户订货台账">
        <div style="padding: 20px;">
            <button weui-button [weui-mini]="'mini'" [ngClass]="{clickbuttonCss: tableShow==1,defaultbuttonCss:tableShow!=1}" (click)="showTable(1)">月度</button>
            <button weui-button [weui-mini]="'mini'" [ngClass]="{clickbuttonCss: tableShow==3,defaultbuttonCss:tableShow!=3}" (click)="showTable(3)">季度</button>
            <button weui-button [weui-mini]="'mini'" [ngClass]="{clickbuttonCss: tableShow==6,defaultbuttonCss:tableShow!=6}" (click)="showTable(6)">半年</button>
        </div>
        <!-- 月度 -->
        <div class="weui-cells" *ngIf="tableShow===1">

            <div class="weui-cells__title">本月</div>
            <a class="weui-cell">
                <div class="weui-cell__hd hdcss">日期</div>
                <div class="weui-cell__bd" style="text-align:center;">名称</div>
                <!-- <div class="weui-cell__bd" style="text-align:center;">上月购数量</div> -->
                <div class="weui-cell__ft ftcss">购买数量</div>
            </a>
            <a class="weui-cell" *ngFor="let m of mothAccounts">
                <div class="weui-cell__hd hdcss">{{m.bookDate}}</div>
                <div class="weui-cell__bd" style="text-align:center;">{{m.itemName}}</div>
                <!-- <div class="weui-cell__bd" style="text-align:center;">200</div> -->
                <div class="weui-cell__ft ftcss">{{m.monthQty}}</div>
            </a>
            <div *ngIf="mothAccounts.length<=0" class="weui-loadmore weui-loadmore_line">
                <span class="weui-loadmore__tips">暂无数据</span>
            </div>
            <div class="weui-cells__title">上月</div>
            <a class="weui-cell">
                <div class="weui-cell__hd hdcss">日期</div>
                <div class="weui-cell__bd" style="text-align:center;">名称</div>
                <!-- <div class="weui-cell__bd" style="text-align:center;">上月购数量</div> -->
                <div class="weui-cell__ft ftcss">购买数量</div>
            </a>
            <a class="weui-cell " *ngFor="let pm of preAccount">
                <div class="weui-cell__hd hdcss">{{pm.bookDate}}</div>
                <div class="weui-cell__bd" style="text-align:center;">{{pm.itemName}}</div>
                <!-- <div class="weui-cell__bd" style="text-align:center;">200</div> -->
                <div class="weui-cell__ft ftcss">{{pm.monthQty}}</div>
            </a>
            <div *ngIf="preAccount.length<=0" class="weui-loadmore weui-loadmore_line">
                <span class="weui-loadmore__tips">暂无数据</span>
            </div>
        </div>
        <!-- 季度 -->
        <div class="weui-cells" *ngIf="tableShow===3">
            <div class="weui-cells__title" *ngIf="qypreData">{{qypreData}}-{{nowDate}}</div>
            <a class="weui-cell">
                <!-- <div class="weui-cell__hd hdcss">日期</div> -->
                <div class="weui-cell__bd" style="text-align:center;">名称</div>
                <!-- <div class="weui-cell__bd" style="text-align:center;">上月购数量</div> -->
                <div class="weui-cell__ft qftcss">购买数量</div>
            </a>
            <a class="weui-cell " *ngFor="let q of accounts">
                <!-- <div class="weui-cell__hd hdcss">{{q.bookDate}}</div> -->
                <div class="weui-cell__bd" style="text-align:center;">{{q.itemName}}</div>
                <div class="weui-cell__ft qftcss">{{q.monthQty}}</div>
            </a>
            <div *ngIf="accounts.length<=0 && tableShow===3" class="weui-loadmore weui-loadmore_line">
                <span class="weui-loadmore__tips">暂无数据</span>
            </div>
        </div>
        <!-- 半年 -->
        <div class="weui-cells" *ngIf="tableShow===6">
            <div class="weui-cells__title" *ngIf="qypreData">{{qypreData}}-{{nowDate}}</div>
            <a class="weui-cell ">
                <!-- <div class="weui-cell__hd hdcss">日期</div> -->
                <div class="weui-cell__bd" style="text-align:center;">名称</div>
                <div class="weui-cell__ft qftcss">购买数量</div>
            </a>
            <a class="weui-cell" *ngFor="let y of accounts">
                <!-- <div class="weui-cell__hd hdcs">{{y.bookDate}}</div> -->
                <div class="weui-cell__bd" style="text-align:center;">{{y.itemName}}</div>
                <div class="weui-cell__ft qftcss">{{y.monthQty}}</div>
            </a>
            <div *ngIf="accounts.length<=0 && tableShow===6" class="weui-loadmore weui-loadmore_line">
                <span class="weui-loadmore__tips">暂无数据</span>
            </div>
        </div>
    </weui-tab>
</weui-navbar>