// component css goes here
.weui-form-preview__hd .weui-form-preview__value {
    font-style: normal;
    font-size: 14px;
}

.button-sp-area {
    text-align: center;
    padding-bottom: 10px;
}

.vote {
    float: left;
    font-size: 14px;
    color: #999999;
}

.ExhibitionDetail {
    .weui-cell {
        font-size: 14px;
        color: #999999;
    }
    .weui-dialog__btn_warn {
        color: orangered;
    }
}

.qrcode {
    width: 100%;
}

.mdiv {
    text-align: center;
}

.textFir {
    text-align: center;
}

.textSec {
    text-align: center;
}

.textThi {
    text-align: center;
}

.rules .text .prize {
    width: 33.3333%;
    display: block;
    margin-left: 33.3333%;
    height: 24px;
    line-height: 24px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #959595;
    color: #3e3c3c;
}

