.error{
    color: red;
}
.success{
    color: #49a9ee;
}
.hight{
    // color:red;
    // background-color: red;
}
.middle{
    // color:#FF5511;
    // background-color:#FF5511;
}
.low{
    // color: #AAAAAA;
    // background-color:#AAAAAA;
}
.ant-tag-text{
    color:#FF5511;
}
// .img{
//     width:100%;
// }