.error{
    color: red;
}
.success{
    color: #49a9ee;
}

.ant-tag-text{
    color:#FF5511;
}

:host ::ng-deep .ant-card-meta-title {
    margin-bottom: 4px;
}
:host ::ng-deep nz-list nz-card {
    margin-bottom: 0 !important;
}
:host ::ng-deep .card-item-content {
    display: flex;
    margin-top: 16px;
    margin-bottom: -4px;
    line-height: 20px;
    height: 20px;
    justify-content: space-between;
}
.ant-avatar{
    background-color:white;
}