<form nz-form [formGroup]="form" *ngIf="modalVisible" id="frm_edit_banquet" (ngSubmit)="save()">
    <nz-modal [nzVisible]="modalVisible" [nzTitle]="title" [nzConfirmLoading]="loading" [nzContent]="modalContent" [nzFooter]="modalFooter"
        (nzOnCancel)="handleCancel($event)">
        <ng-template #modalContent>
            <!-- <nz-tabset>
                <nz-tab>
                    <ng-template #nzTabHeading>
                        宴席信息
                    </ng-template> -->
                    <fieldset>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="4">
                                <label for="area" nz-form-item-required>区县</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="getFormControl('area')">
                                <nz-input formControlName="area" [(ngModel)]="banquetDto.area" nzPlaceHolder="请输入区县"></nz-input>
                                <div nz-form-explain *ngIf="getFormControl('area').dirty&&getFormControl('area').hasError('required')">请输入区县</div>
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="4">
                                <label for="responsible" nz-form-item-required>责任人</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="getFormControl('responsible')">
                                <nz-input formControlName="responsible" [(ngModel)]="banquetDto.responsible" nzPlaceHolder="请输入责任人"></nz-input>
                                <div nz-form-explain *ngIf="getFormControl('responsible').dirty&&getFormControl('responsible').hasError('maxlength')">字符长度小于等于50</div>
                                <div nz-form-explain *ngIf="getFormControl('responsible').dirty&&getFormControl('responsible').hasError('required')">请输入责任人</div>
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="4">
                                <label for="executor" nz-form-item-required>执行人</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="getFormControl('executor')">
                                <nz-input formControlName="executor" [(ngModel)]="banquetDto.executor" nzPlaceHolder="请输入执行人"></nz-input>
                                <div nz-form-explain *ngIf="getFormControl('executor').dirty&&getFormControl('executor').hasError('maxlength')">字符长度小于等于50</div>
                                <div nz-form-explain *ngIf="getFormControl('executor').dirty&&getFormControl('executor').hasError('required')">请输入执行人</div>
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="4">
                                <label for="banquetTime" nz-form-item-required>宴席时间</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="getFormControl('banquetTime')">
                                <nz-datepicker [(ngModel)]="banquetDto.banquetTime" formControlName="banquetTime" [nzPlaceHolder]="'请输入宴席时间'"></nz-datepicker>
                                <div nz-form-explain *ngIf="getFormControl('banquetTime').dirty&&getFormControl('banquetTime').hasError('required')">请输入宴席时间</div>
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="4">
                                <label for="position" nz-form-item-required>宴席地点</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="getFormControl('position')">
                                <nz-input formControlName="position" [(ngModel)]="banquetDto.position" nzPlaceHolder="请输入宴席地点"></nz-input>
                                <div nz-form-explain *ngIf="getFormControl('position').dirty&&getFormControl('position').hasError('maxlength')">字符长度小于等于500</div>
                                <div nz-form-explain *ngIf="getFormControl('position').dirty&&getFormControl('position').hasError('required')">请输入宴席地点</div>
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSpan]="4">
                                <label for="num" nz-form-item-required>现场人数</label>
                            </div>
                            <div nz-form-control nz-col [nzSpan]="14">
                                <nz-input-number formControlName="num" [(ngModel)]="banquetDto.num" [nzSize]="'large'" [nzStep]="1" [nzMin]="1"></nz-input-number>
                                <span nz-form-text> 人</span>
                                <div nz-form-explain *ngIf="getFormControl('num').dirty&&getFormControl('num').hasError('required')">请输入现场人数</div>
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="4">
                                <label for="desc" nz-form-item-required>现场简述</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="getFormControl('desc')">
                                <nz-input [nzType]="'textarea'" [nzRows]="'4'" formControlName="desc" [(ngModel)]="banquetDto.desc" nzPlaceHolder="输入现场简述"></nz-input>
                                <div nz-form-explain *ngIf="getFormControl('desc').dirty&&getFormControl('desc').hasError('required')">请输入现场简述</div>
                                <div nz-form-explain *ngIf="getFormControl('desc').dirty&&getFormControl('desc').hasError('maxlength')">字符长度小于等于500</div>
                            </div>
                        </div>
                    </fieldset>
                <!-- </nz-tab>
                <nz-tab>
                    <ng-template #nzTabHeading>
                        上传照片
                    </ng-template>
                    <div class="clearfix">
                        <nz-upload
                          nzAction="http://wechat.intcov.com/WeChatFile/BanquetPhotoSave/"
                          nzListType="picture-card"
                          [(nzFileList)]="fileList"
                          [nzShowButton]="fileList.length < 6"
                          [nzPreview]="handlePreview">
                            <i class="anticon anticon-plus"></i>
                            <div class="ant-upload-text">上传</div>
                        </nz-upload>
                        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
                          <ng-template #modalContent>
                            <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
                          </ng-template>
                        </nz-modal>
                      </div>
                </nz-tab>
            </nz-tabset> -->
        </ng-template>
        <ng-template #modalFooter>
            <button nz-button [nzType]="'default'" [nzSize]="'large'" type="button" (click)="handleCancel($event)">
                取消
            </button>
            <button nz-button [nzType]="'primary'" [nzSize]="'large'" type="submit" [nzLoading]="isConfirmLoading">
                保存
            </button>
        </ng-template>
    </nz-modal>
</form>
