<Page [ngClass]="'badge'" [showTitle]="false" [spacing]="false" [ftBottom]="true">
    <div class="weui-cells" style="margin-top: 0px;">
        <div class="weui-cell" style=" padding: 0px;">
            <div style="text-align: center; width: 100%;">
                <img src="./assets/images/shop/shop.jpg" style="width:100%;">
            </div>
        </div>
        <div class="weui-cell" style="font-size: 14px;" >
            <div class="weui-cell__hd">
                <img src="./assets/images/shop/map-3-o.png" alt="" style="width:24px;margin-right:5px;display:block">
            </div>
            <div class="weui-cell__bd weui-cell_primary">
                <p>{{myaddress}}</p>
            </div>
            <a  class="weui-cell__ft weui-cell_access" style="color: cornflowerblue" (click)="wxGetLocation()">
               重新定位
            </a>
        </div>
    </div>
    <div class="weui-cells__title">只显示附近3公里以内的店铺</div>
    <div class="weui-cells" *ngIf="shops && shops.length > 0" >
        <a class="weui-cell weui-cell_access" *ngFor="let s of shops" (click)="goShop(s.id)" >
            <div class="weui-cell__hd weui-cell_img" [ngStyle]="{'background-image':'url('+ hostUrl + s.coverPhoto +')'}">
            </div>
            <div class="weui-cell__bd">
                <p>{{s.name}}</p>
                <p style="font-size: 13px;color: #888888;">地址：{{s.address}}<br/>电话：{{s.tel}}</p>
            </div>
            <div class="weui-cell__ft">
                {{s.distance}}米
            </div>
        </a>
    </div>
    <weui-loadmore type="line" *ngIf="!shops || shops.length == 0"></weui-loadmore>
</Page>