<Page [ngClass]="'icons'" [spacing]="false" [showTitle]="false" *ngIf="showAddInfo">
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="icon-box">
                <i class="weui-icon-info weui-icon_msg"></i>
                <div class="icon-box__ctn">
                    <h3 class="icon-box__title">提示</h3>
                    <p class="icon-box__desc">您还没有添加店铺信息，请点击新增店铺添加店铺</p>
                </div>
            </div>

        </div>
        <div class="weui-cell">
            <button weui-button (click)="showAddInfo = false">新增店铺</button>
        </div>
    </div>
</Page>
<Page [ngClass]="'input'" [title]="title" [subTitle]="'维护自己的店铺信息'" [showTitle]="false" [spacing]="false" *ngIf="!showAddInfo">
    <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__hd">
                    <img src="./assets/images/shop/network-o-3.png" alt="" style="width:25px;margin-right:5px;display:block">
                </div>
                <div class="weui-cell__bd weui-cell_primary">
                    <p>{{title}}</p>
                </div>
            </div>
            <div class="weui-cell" style="font-size: 14px;" *ngIf="locationInfo">
                <div class="weui-cell__hd">
                    <img src="./assets/images/shop/map-3-o.png" alt="" style="width:24px;margin-right:5px;display:block">
                </div>
                <div class="weui-cell__bd weui-cell_primary">
                    <p>{{locationInfo}}</p>
                </div>
                <a class="weui-cell__ft weui-cell_access" style="color: cornflowerblue" (click)="wxGetLocation()">
                    重新定位
                </a>
            </div>
        </div>
    </div>
    <form #f="ngForm" (ngSubmit)="onSave()">
        <div class="weui-cells__title">店铺信息</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">名称</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" [(ngModel)]="res.name" name="name" placeholder="请输入店铺名称" weui-input="name" weui-required>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">电话</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" [(ngModel)]="res.tel" name="tel" placeholder="请输入店铺电话" weui-input="tel" weui-required>
                </div>
            </div>
            <div class="weui-cell" style="font-size: 14px; color:grey;">
                <div class="weui-cell__hd">
                    <label class="weui-label">位置</label>
                </div>
                <div class="weui-cell__bd">
                    <p>{{locationInfo}}</p>
                </div>
                <a class="weui-cell__ft weui-cell_access" (click)="wxOpenLocation()">
                    <img class="weui-icon-h18" src="./assets/images/shop/navigation-o.png" alt="">
                </a>
            </div>
        </div>
        <div class="weui-cells__title">详细地址</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" placeholder="请输入店铺详细地址" rows="2" [(ngModel)]="res.address" name="address" weui-textarea weui-cn="2"
                        maxlength="500"></textarea>
                </div>
            </div>
        </div>
        <!-- <div class="weui-cells__tips">地址：{{myaddress + res.address}}</div> -->
        <div class="weui-cells__title">店铺描述</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" placeholder="请输入店铺描述信息" rows="3" [(ngModel)]="res.desc" name="desc" weui-textarea weui-cn="2"
                        maxlength="500"></textarea>
                </div>
            </div>
        </div>
        <div class="weui-cells__title">店铺形象</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell" *ngIf="coverPhoto">
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__hd">
                            <p class="weui-uploader__title">上传图片</p>
                            <div class="weui-uploader__info"></div>
                        </div>
                        <div class="weui-uploader__bd">
                            <ul class="weui-uploader__files">
                                <li class="weui-uploader__file" (click)="onGallery()" [ngStyle]="{'background-image':'url('+ hostUrl + coverPhoto +')'}"></li>
                            </ul>
                        </div>
                    </div>
                    <weui-gallery [imgs]="img" [(show)]="imgShow" (delete)="onDel()"></weui-gallery>
                </div>
            </div>
            <!--<div class="weui-cell" *ngIf="!coverPhoto">
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__hd">
                            <p class="weui-uploader__title">上传图片</p>
                            <div class="weui-uploader__info">小于等于150KB</div>
                        </div>
                        <div class="weui-uploader__bd">
                            <ul class="weui-uploader__files">
                                <li class="weui-uploader__file" *ngFor="let item of uploader.queue" [weui-thumb]="item._file" (click)="onGallery(item)" [ngClass]="{'weui-uploader__file_status': item.isError}">
                                    <div class="weui-uploader__file-content" *ngIf="item.isUploading">{{item.progress}}%</div>
                                    <div class="weui-uploader__file-content" *ngIf="item.isError">
                                        <i class="weui-icon-warn"></i>
                                    </div>
                                </li>
                            </ul>
                            <div class="weui-uploader__input-box" *ngIf="uploader?.queue?.length < 1">
                                <input class="weui-uploader__input" type="file" accept="image/*" [weui-uploader-file]="uploader" name="files" weui-required>
                            </div>
                        </div>
                    </div>
                    <weui-gallery [imgs]="img" [(show)]="imgShow" (delete)="onDel($event)"></weui-gallery>
                </div>
            </div>-->
            <div class="weui-cell" *ngIf="!coverPhoto">
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__hd">
                            <p class="weui-uploader__title">上传图片</p>
                            <div class="weui-uploader__info"></div>
                        </div>
                        <div class="weui-uploader__bd">
                            <div class="weui-uploader__input-box">
                                <input class="weui-uploader__input" type="file" accept="image/*" (change)="fileChange($event)" name="files" weui-required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <label for="weuiAgree" class="weui-agree">
            <span class="weui-agree__text">
                店铺信息提交后需等待营销中心审核，审核通过后可维护商品信息，消费者可以在附近店铺和特色商品进行查找
            </span>
        </label>
        <div class="weui-btn-area">
            <button class="weui-btn weui-btn_primary" [disabled]="!f.form.valid" [ngClass]="{'weui-btn_disabled': !f.form.valid}">提交</button>
        </div>
    </form>
</Page>
<weui-popup #imgCropperPopup [config]="{is_full: true}">
    <div>
        <img-cropper #shopCropper [image]="imgData" [settings]="cropperSettings"></img-cropper>
    </div>
    <div class="weui-btn-area">
        <button weui-button (click)="goUploadImg()">确定使用</button>
        <button weui-button [weui-type]="'default'" (click)="cancelUploadImg()">取消</button>  
    </div>
</weui-popup>