<form nz-form [formGroup]="formc" *ngIf="cdalVisible" id="frm_create_wechatGroup" (ngSubmit)="savec()">
    <nz-modal [nzVisible]="cdalVisible" [nzTitle]="'创建分组'" [nzConfirmLoading]="cloading" [nzContent]="modalContent" [nzFooter]="modalFooter"
        (nzOnCancel)="chandleCancel($event)">
        <ng-template #modalContent>
            <ng-template #nzTabHeading>
             分组信息
            </ng-template>
            <fieldset>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="5">
                        <label for="typeCode" nz-form-item-required>用户类型</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="19" nzHasFeedback [nzValidateStatus]="getFormControl('typeCode')">
                        <nz-select formControlName="typeCode" [nzPlaceHolder]="'用户类型'" [(ngModel)]="wechatGroup.typeCode" (ngModelChange)="changeValue()" [nzShowSearch]="true" nzSize="large">
                            <nz-option *ngFor="let i of showTypes" [nzLabel]="i.text" [nzValue]="i.value">
                            </nz-option>
                        </nz-select>
                        <div nz-form-explain *ngIf="getFormControl('typeCode').dirty&&getFormControl('typeCode').hasError('required')">请选择用户类型</div>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="5">
                        <label for="tagName" nz-form-item-required>分组名</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="19" nzHasFeedback [nzValidateStatus]="getFormControl('tagName')">
                        <nz-input [nzDisabled]="true" formControlName="tagName" [(ngModel)]="wechatGroup.tagName" [nzId]="'tagName'"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('tagName').dirty&&getFormControl('tagName').hasError('required')">请输入分组名</div>
                    </div>
                 
                </div>
            </fieldset>
        </ng-template>
        <ng-template #modalFooter>
            <button nz-button [nzType]="'default'" [nzSize]="'large'" type="button" (click)="chandleCancel($event)">
                取消
            </button>
            <button nz-button [nzType]="'primary'" [nzSize]="'large'" type="submit" [nzLoading]="isConfirmLoading">
                保存
            </button>
        </ng-template>
    </nz-modal>
</form>