<pro-header></pro-header>
<nz-card [nzBordered]="false">
    <form nz-form (ngSubmit)="refreshData(false,true)" [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="6" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label>店铺名称</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="search.name" name="name" [nzSize]="'large'" [nzPlaceHolder]="'请输入店铺名称'" nzId="name"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label>客户编码</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="search.code" name="code" [nzSize]="'large'" [nzPlaceHolder]="'请输入客户编码'" nzId="code"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label>店铺电话</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="search.tel" name="tel" [nzSize]="'large'" [nzPlaceHolder]="'请输入店铺电话'" nzId="tel"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label>审核状态</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-select name="status" [nzPlaceHolder]="'请选择审核状态'" [(ngModel)]="search.status" [nzShowSearch]="true" nzSize="large">
                            <nz-option *ngFor="let i of statues" [nzLabel]="i.text" [nzValue]="i.value">
                            </nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6" class="mb-md">
                <button nz-button type="button" (click)="downPromotionCodeZip()" [nzSize]="'large'" [nzLoading]="exportLoading">
                    <i class="anticon anticon-download"></i>
                    <span>批量下载推广码</span>
                </button>
            </div>
            <div nz-col [nzSpan]="8" style="float:right;text-align: right; padding-left:0px" class="mb-md" [class.text-right]="'true'">
                <a style="display: none;" id="aShopPicZipUrl" href="#">
                    <button type="button" id="btnShopPicZipHref">隐藏下载</button>
                </a>
                <!-- <button nz-button type="button" (click)="downPromotionCodeZip()" [nzSize]="'large'" [nzLoading]="exportLoading">
                    <i class="anticon anticon-download"></i>
                    <span>批量下载推广码</span>
                </button> -->
                <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询</button>
                <button nz-button type="reset" (click)="refreshData(true)" [nzSize]="'large'" class="mx-sm">重置</button>
                <!-- <button nz-button (click)="createRetail()" [nzType]="'primary'" [nzSize]="'large'">
                                <i class="anticon anticon-plus"></i>
                                <span>新建</span>
                </button> -->
                <a style="display: none;" id="aShopExcelUrl" href="#">
                    <button type="button" id="btnShopHref">隐藏下载</button>
                </a>
                <button nz-button type="button" style="float: right;" (click)="exportExcel()" [nzSize]="'large'" [nzLoading]="exportLoading">
                    <i class="anticon anticon-download"></i>
                    <span>导出</span>
                </button>
            </div>
        </div>

    </form>
    <nz-table #nzTable [nzAjaxData]="shops" [nzTotal]="query.total" [(nzPageIndex)]="query.pageIndex" [(nzPageSize)]="query.pageSize" [nzLoading]="loading" [nzShowTotal]="'true'" [nzShowSizeChanger]="true" (nzPageIndexChange)="refreshData()" (nzPageSizeChange)="refreshData()">
        <thead nz-thead>
            <tr>
                <th nz-th>
                    <label nz-checkbox [(ngModel)]="isSelectedAll" (ngModelChange)="checkAll($event)">
                    </label>
                </th>
                <th nz-th>
                    <span>店铺名称</span>
                </th>
                <th nz-th>
                    <span>店铺地址</span>
                </th>
                <th nz-th>
                    <span>零售客户(编码)</span>
                </th>
                <th nz-th>
                    <span>销量</span>
                    <nz-table-sort [(nzValue)]="sortMap.sale" (nzValueChange)="sort($event,'sale')"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>浏览量</span>
                    <nz-table-sort [(nzValue)]="sortMap.read" (nzValueChange)="sort($event,'read')"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>用户量</span>
                    <nz-table-sort [(nzValue)]="sortMap.single" (nzValueChange)="sort($event,'single')"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>会员数</span>
                    <nz-table-sort [(nzValue)]="sortMap.fans" (nzValueChange)="sort($event,'fans')"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>店铺电话</span>
                </th>
                <!-- <th nz-th>
                    <span>纬度</span>
                </th> -->
                <th nz-th>
                    <span>审核状态</span>
                </th>
                <th nz-th>
                    <span>审核时间</span>
                </th>
                <th nz-th>
                    <span>操作</span>
                </th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let shop of nzTable.data">
                <td nz-td>
                    <label nz-checkbox *ngIf="shop.status===2" [(ngModel)]="shop.selected" (ngModelChange)="isCancelCheck($event)">
                    </label>
                </td>
                <td nz-td>{{shop.name}}</td>
                <td nz-td title="{{shop.address}}">{{shop.address| lengthLimit:8}}</td>
                <td nz-td>{{shop.retailerName}}({{shop.retailerCode}})</td>
                <td nz-td>{{shop.saleTotal}}</td>
                <td nz-td>{{shop.readTotal}}</td>
                <td nz-td>{{shop.singleTotal}}</td>
                <td nz-td>{{shop.fansNum}}</td>
                <td nz-td>{{shop.tel}}</td>
                <!-- <td nz-td>{{shop.longitude}}</td>
                <td nz-td>{{shop.latitude}}</td> -->
                <!-- <td nz-td>{{shop.statusName}}</td> -->
                <td nz-td>
                    <nz-badge [nzStatus]="shop.statusType" [nzText]="shop.statusName"></nz-badge>
                </td>
                <td nz-td>{{shop.auditTime | _date}}</td>
                <td nz-td>
                    <a (click)="editShop(shop)">详情</a>
                    <span *ngIf="shop.status===2&& shop.qrUrl!=null" nz-table-divider></span>
                    <a *ngIf="shop.status===2 && shop.qrUrl!=null" href="{{this.host+shop.qrUrl}}" download="{{shop.retailerCode}}{{shop.retailerName}}">推广码</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>