<!--component html goes here -->
<Page [ngClass]="'panel'" [title]="'Panel'" [showTitle]="false" [spacing]="false">
    <div class="weui-panel__hd">店员信息</div>
    <div class="weui-panel weui-panel_access" *ngFor="let item of shopEmployees">
        <div class="weui-panel__bd" *ngIf="shopEmployees.length>0">
            <a class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb" src="{{item.headImgUrl}}" alt="">
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title">{{item.nickName}}
                        <p class="weui-media-box__desc rfoloat" style="text-align:right; margin-bottom: 0px;">{{item.isShopkeeper?"管理员":"店员"}}</p>
                    </h4>

                    <ul class="weui-media-box__info">
                        <!-- <li class="weui-media-box__info__meta "> <p class="weui-media-box__desc">{{item.bindStatusName}}</p></li> -->
                        <li class="weui-media-box__info__meta ">
                            <p class="weui-media-box__desc">{{item.statusName}}</p>
                        </li>
                        <li class="weui-media-box__info__meta rfoloat" style="text-align:right">
                            <p class="weui-media-box__desc">{{item.bindTime| date:'yyyy-MM-dd hh:mm'}}</p>
                        </li>
                    </ul>
                </div>
            </a>
            <div class="weui-form-preview__ft" *ngIf="!item.isShopkeeper">
                <button type="button" class="weui-form-preview__btn weui-form-preview__btn_primary" *ngIf="item.status==0|| item.status==null"
                    (click)="onShowBySrv(item,true)">审核通过</button>
                <button type="button" class="weui-form-preview__btn weui-form-preview__btn_primary" style="color: #e64340;"  (click)="onShowBySrv(item,false)">解除绑定</button>
            </div>
        </div>
    </div>
</Page>