<Page [ngClass]="'input'" [title]="'手机号绑定'" [subTitle]="'绑定手机号立即成为会员'" [showTitle]="false" [spacing]="false">
    <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
            <div class="weui-cell weui-cell_access" >
                <div class="weui-cell__hd">
                    <img src="./assets/images/shop/PDA-o.png" alt="" style="width:25px;margin-right:5px;display:block">
                </div>
                <div class="weui-cell__bd weui-cell_primary">
                    <p>手机号绑定</p>
                </div>
            </div>
        </div>
    </div>
    <form #f="ngForm" (ngSubmit)="onSave()">
        <div class="weui-cells__title">更换或绑定手机号，绑定手机号可购买商品扫码积分</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_warn">
                <div class="weui-cell__hd">
                    <label class="weui-label">手机号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" [(ngModel)]="res.phone" name="phone" placeholder="请输入手机号" weui-input="mobile" weui-required>
                </div>
            </div>
        </div>
        <div class="weui-btn-area">
            <button class="weui-btn weui-btn_primary" [disabled]="!f.form.valid || !f.form.dirty" [ngClass]="{'weui-btn_disabled': !f.form.valid || !f.form.dirty}">绑定</button>
        </div>
    </form>
    <!--将对话框组件放在底部-->
    <weui-toptips #toptips></weui-toptips>
    <weui-toast #loading [type]="'loading'" [text]="'提交中...'"></weui-toast>
</Page>