<form nz-form [formGroup]="form" *ngIf="modalVisible" id="frm_create_user" (ngSubmit)="save()">
    <nz-modal [nzVisible]="modalVisible" [nzTitle]="'修改密码'" [nzConfirmLoading]="loading" [nzContent]="modalContent" [nzFooter]="modalFooter"
        (nzOnCancel)="handleCancel($event)">
        <ng-template #modalContent>
            <fieldset>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="4">
                        <label for="orgPassword" nz-form-item-required>原密码</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="getFormControl('orgPassword')">
                        <nz-input formControlName="orgPassword" [(ngModel)]="changePassword.orgPassword" [nzType]="'password'" [nzId]="'orgPassword'"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('orgPassword').dirty&&getFormControl('orgPassword').hasError('required')">请输入原密码</div>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="4">
                        <label for="newPassword" nz-form-item-required>新密码</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="getFormControl('newPassword')">
                        <nz-input formControlName="newPassword" [(ngModel)]="changePassword.newPassword" [nzType]="'password'" [nzId]="'newPassword'"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('newPassword').dirty&&getFormControl('newPassword').hasError('required')">请输入新密码</div>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="4">
                        <label for="checkPassword" nz-form-item-required>确认密码</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="getFormControl('checkPassword')">
                        <nz-input formControlName="checkPassword" [(ngModel)]="changePassword.checkPassword" [nzType]="'password'" [nzId]="'checkPassword'"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('checkPassword').dirty&&getFormControl('checkPassword').hasError('required')">请确认密码</div>
                        <div nz-form-explain *ngIf="getFormControl('checkPassword').dirty&&getFormControl('checkPassword').hasError('confirm')">两次输入的密码必须一致</div>
                    </div>
                </div>
                <!-- <div >
                    <div nz-form-label nz-col [nzSm]="4" [nzOffset]="20">
                        <p *ngIf="isOldPasswordValid" style="color:red;">原密码错误</p>
                    </div>
                </div> -->
            </fieldset>
        </ng-template>
        <ng-template #modalFooter>
            <button nz-button [nzType]="'default'" [nzSize]="'large'" type="button" (click)="handleCancel($event)">
                取消
            </button>
            <button nz-button [nzType]="'primary'" [nzSize]="'large'" type="submit" [nzLoading]="isConfirmLoading">
                修改
            </button>

        </ng-template>
    </nz-modal>
</form>